# Lending Money with Spark

In [1]:
# Importing Libraries
import os
import sys
import math
import re
import urllib

import numpy as np
import matplotlib.pyplot as plt

from pyspark.sql import SparkSession

from pyspark.sql.functions import regexp_replace, regexp_extract
from pyspark.sql.functions import col
from pyspark.sql.functions import count, mean, stddev_pop, min, max, avg
from pyspark.sql.functions import isnan, when, count, col
from pyspark.sql.functions import lit
from pyspark.sql.functions import coalesce
from pyspark.sql.functions import isnan, when, count, col, log
from pyspark.sql.types import FloatType

In [2]:
# Creating Spark Session
spark = SparkSession.builder.appName("LendingMoneySpark").getOrCreate()

In [3]:
# Importing Data

# File location and type
file_location = '../../../../Projects/lending_club/data/34_1110834_bundle_archive/loan.csv'
file_type = 'csv'

# CSV options
infer_schema = 'true'
first_row_is_header = 'true'
delimiter = ','

df = spark.read.format(file_type) \
    .option("multiline", "true") \
    .option("quote", "\"") \
    .option("escape", "\"") \
	.option('inferSchema', infer_schema) \
	.option('header', first_row_is_header) \
	.option('sep', delimiter) \
	.load(file_location)

In [4]:
df.show(1) # Displaying first row

+----+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+---------+----------+--------------+----------+-------------------+--------+-----------+----------+----+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+----------------+
|  id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|emp_title|emp_length|home_ownership|annual_inc|verification_status| issue_d|loan_status|pymnt_plan| url|desc|           purpose|             title|zip_code|addr_state|  dti|delinq_2yrs|earliest_cr_line|inq_last_6mths|mths_since_last_delinq|mths_since_last_record|open_acc|pub_rec|revol_bal|revol_util|total_acc|initial_list_status|out_prncp|out_prncp_inv|total_pymnt|total_pymnt_inv|total_rec_prncp|total_rec_int|total_rec_late_fee|recoveries|collection_recovery_fee|last_pymnt_d|last_pymnt_amnt|next_pymnt_d|last_credit_pull_d|collections_12_mths_ex_med|mths_since_last_major_derog|policy_code|application_type|annual_inc_joint|dti_joint|verification_status_joint|acc_now_delinq|tot_coll_amt|tot_cur_bal|open_acc_6m|open_act_il|open_il_12m|open_il_24m|mths_since_rcnt_il|total_bal_il|il_util|open_rv_12m|open_rv_24m|max_bal_bc|all_util|total_rev_hi_lim|inq_fi|total_cu_tl|inq_last_12m|acc_open_past_24mths|avg_cur_bal|bc_open_to_buy|bc_util|chargeoff_within_12_mths|delinq_amnt|mo_sin_old_il_acct|mo_sin_old_rev_tl_op|mo_sin_rcnt_rev_tl_op|mo_sin_rcnt_tl|mort_acc|mths_since_recent_bc|mths_since_recent_bc_dlq|mths_since_recent_inq|mths_since_recent_revol_delinq|num_accts_ever_120_pd|num_actv_bc_tl|num_actv_rev_tl|num_bc_sats|num_bc_tl|num_il_tl|num_op_rev_tl|num_rev_accts|num_rev_tl_bal_gt_0|num_sats|num_tl_120dpd_2m|num_tl_30dpd|num_tl_90g_dpd_24m|num_tl_op_past_12m|pct_tl_nvr_dlq|percent_bc_gt_75|pub_rec_bankruptcies|tax_liens|tot_hi_cred_lim|total_bal_ex_mort|total_bc_limit|total_il_high_credit_limit|revol_bal_joint|sec_app_earliest_cr_line|sec_app_inq_last_6mths|sec_app_mort_acc|sec_app_open_acc|sec_app_revol_util|sec_app_open_act_il|sec_app_num_rev_accts|sec_app_chargeoff_within_12_mths|sec_app_collections_12_mths_ex_med|sec_app_mths_since_last_major_derog|hardship_flag|hardship_type|hardship_reason|hardship_status|deferral_term|hardship_amount|hardship_start_date|hardship_end_date|payment_plan_start_date|hardship_length|hardship_dpd|hardship_loan_status|orig_projected_additional_accrued_interest|hardship_payoff_balance_amount|hardship_last_payment_amount|disbursement_method|debt_settlement_flag|debt_settlement_flag_date|settlement_status|settlement_date|settlement_amount|settlement_percentage|settlement_term
+----+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+---------+----------+--------------+----------+-------------------+--------+-----------+----------+----+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+----------------+
|null|     null|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|     Chef| 10+ years|          RENT|   55000.0|       Not Verified|Dec-2018|    Current|         n|null|null|debt_consolidation|Debt consolidation|   109xx|        NY|18.24|          0|        Apr-2001|             1|                  null|                    45|       9|      1|     4341|      10.3|       34|                  w|  2386.02|      2386.02|     167.02|         167.02|         113.98|        53.04|               0.0|       0.0|                    0.0|    Feb-2019|          84.92|    Mar-2019|          Feb-2019|                         0|                       null|          1|      Individual|            null|     null|                     null|             0|           0|      16901|          2|          2|          1|          2|                 2|       12560|     69|          2|          7|      2137|      28|           42000|     1|         11|           2|                   9|       1878|         34360|    5.9|                       0|          0|               140|                 212|                    1|             1|       0|                   1|                    null|                    2|                          null|                    0|             2|              5|          3|        3|       16|            7|           18|                  5|       9|               0|           0|                 0|                 3|         100.0|             0.0|                   1|        0|          60124|            16901|         36500|                     18124|           null|                    null|                  null|            null|            null|              null|               null|                 null|                            null|                              null|                               null|            N|         null|           null|           null|         null|           null|               null|             null|                   null|           null|        null|                null|                                      null|                          null|                        null|               Cash|                   N|                     null|             null|           null|             null|                 null|
+----+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+---------+----------+--------------+----------+-------------------+--------+-----------+----------+----+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+----------------+
only showing top 1 row

In [5]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- funded_amnt: integer (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- pymnt_plan: string (nullable = true)
 |-- url: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)
 |-- mths_since_last_record: integer (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- initial_list_status: string (nullable = true)
 |-- out_prncp: double (nullable = true)
 |-- out_prncp_inv: double (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- total_pymnt_inv: double (nullable = true)
 |-- total_rec_prncp: double (nullable = true)
 |-- total_rec_int: double (nullable = true)
 |-- total_rec_late_fee: double (nullable = true)
 |-- recoveries: double (nullable = true)
 |-- collection_recovery_fee: double (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- last_pymnt_amnt: double (nullable = true)
 |-- next_pymnt_d: string (nullable = true)
 |-- last_credit_pull_d: string (nullable = true)
 |-- collections_12_mths_ex_med: integer (nullable = true)
 |-- mths_since_last_major_derog: integer (nullable = true)
 |-- policy_code: integer (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- acc_now_delinq: integer (nullable = true)
 |-- tot_coll_amt: integer (nullable = true)
 |-- tot_cur_bal: integer (nullable = true)
 |-- open_acc_6m: integer (nullable = true)
 |-- open_act_il: integer (nullable = true)
 |-- open_il_12m: integer (nullable = true)
 |-- open_il_24m: integer (nullable = true)
 |-- mths_since_rcnt_il: integer (nullable = true)
 |-- total_bal_il: integer (nullable = true)
 |-- il_util: integer (nullable = true)
 |-- open_rv_12m: integer (nullable = true)
 |-- open_rv_24m: integer (nullable = true)
 |-- max_bal_bc: integer (nullable = true)
 |-- all_util: integer (nullable = true)
 |-- total_rev_hi_lim: integer (nullable = true)
 |-- inq_fi: integer (nullable = true)
 |-- total_cu_tl: integer (nullable = true)
 |-- inq_last_12m: integer (nullable = true)
 |-- acc_open_past_24mths: integer (nullable = true)
 |-- avg_cur_bal: integer (nullable = true)
 |-- bc_open_to_buy: integer (nullable = true)
 |-- bc_util: double (nullable = true)
 |-- chargeoff_within_12_mths: integer (nullable = true)
 |-- delinq_amnt: integer (nullable = true)
 |-- mo_sin_old_il_acct: integer (nullable = true)
 |-- mo_sin_old_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_tl: integer (nullable = true)
 |-- mort_acc: integer (nullable = true)
 |-- mths_since_recent_bc: integer (nullable = true)
 |-- mths_since_recent_bc_dlq: integer (nullable = true)
 |-- mths_since_recent_inq: integer (nullable = true)
 |-- mths_since_recent_revol_delinq: integer (nullable = true)
 |-- num_accts_ever_120_pd: integer (nullable = true)
 |-- num_actv_bc_tl: integer (nullable = true)
 |-- num_actv_rev_tl: integer (nullable = true)
 |-- num_bc_sats: integer (nullable = true)
 |-- num_bc_tl: integer (nullable = true)
 |-- num_il_tl: integer (nullable = true)
 |-- num_op_rev_tl: integer (nullable = true)
 |-- num_rev_accts: integer (nullable = true)
 |-- num_rev_tl_bal_gt_0: integer (nullable = true)
 |-- num_sats: integer (nullable = true)
 |-- num_tl_120dpd_2m: integer (nullable = true)
 |-- num_tl_30dpd: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- num_tl_op_past_12m: integer (nullable = true)
 |-- pct_tl_nvr_dlq: double (nullable = true)
 |-- percent_bc_gt_75: double (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- tax_liens: integer (nullable = true)
 |-- tot_hi_cred_lim: integer (nullable = true)
 |-- total_bal_ex_mort: integer (nullable = true)
 |-- total_bc_limit: integer (nullable = true)
 |-- total_il_high_credit_limit: integer (nullable = true)
 |-- revol_bal_joint: integer (nullable = true)
 |-- sec_app_earliest_cr_line: string (nullable = true)
 |-- sec_app_inq_last_6mths: integer (nullable = true)
 |-- sec_app_mort_acc: integer (nullable = true)
 |-- sec_app_open_acc: integer (nullable = true)
 |-- sec_app_revol_util: double (nullable = true)
 |-- sec_app_open_act_il: integer (nullable = true)
 |-- sec_app_num_rev_accts: integer (nullable = true)
 |-- sec_app_chargeoff_within_12_mths: integer (nullable = true)
 |-- sec_app_collections_12_mths_ex_med: integer (nullable = true)
 |-- sec_app_mths_since_last_major_derog: integer (nullable = true)
 |-- hardship_flag: string (nullable = true)
 |-- hardship_type: string (nullable = true)
 |-- hardship_reason: string (nullable = true)
 |-- hardship_status: string (nullable = true)
 |-- deferral_term: integer (nullable = true)
 |-- hardship_amount: double (nullable = true)
 |-- hardship_start_date: string (nullable = true)
 |-- hardship_end_date: string (nullable = true)
 |-- payment_plan_start_date: string (nullable = true)
 |-- hardship_length: integer (nullable = true)
 |-- hardship_dpd: integer (nullable = true)
 |-- hardship_loan_status: string (nullable = true)
 |-- orig_projected_additional_accrued_interest: double (nullable = true)
 |-- hardship_payoff_balance_amount: double (nullable = true)
 |-- hardship_last_payment_amount: double (nullable = true)
 |-- disbursement_method: string (nullable = true)
 |-- debt_settlement_flag: string (nullable = true)
 |-- debt_settlement_flag_date: string (nullable = true)
 |-- settlement_status: string (nullable = true)
 |-- settlement_date: string (nullable = true)
 |-- settlement_amount: double (nullable = true)
 |-- settlement_percentage: double (nullable = true)
: string (nullable = true)

In [6]:
df.count()

2260668

In [7]:
# Dropping irrelevant columns
columns_to_drop = ['id', 'member_id', 'emp_title', 'url', 'desc', 'zip_code', 'title']
df = df.drop(*columns_to_drop)

In [8]:
df.printSchema()

root
 |-- loan_amnt: integer (nullable = true)
 |-- funded_amnt: integer (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- pymnt_plan: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)
 |-- mths_since_last_record: integer (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- initial_list_status: string (nullable = true)
 |-- out_prncp: double (nullable = true)
 |-- out_prncp_inv: double (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- total_pymnt_inv: double (nullable = true)
 |-- total_rec_prncp: double (nullable = true)
 |-- total_rec_int: double (nullable = true)
 |-- total_rec_late_fee: double (nullable = true)
 |-- recoveries: double (nullable = true)
 |-- collection_recovery_fee: double (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- last_pymnt_amnt: double (nullable = true)
 |-- next_pymnt_d: string (nullable = true)
 |-- last_credit_pull_d: string (nullable = true)
 |-- collections_12_mths_ex_med: integer (nullable = true)
 |-- mths_since_last_major_derog: integer (nullable = true)
 |-- policy_code: integer (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- acc_now_delinq: integer (nullable = true)
 |-- tot_coll_amt: integer (nullable = true)
 |-- tot_cur_bal: integer (nullable = true)
 |-- open_acc_6m: integer (nullable = true)
 |-- open_act_il: integer (nullable = true)
 |-- open_il_12m: integer (nullable = true)
 |-- open_il_24m: integer (nullable = true)
 |-- mths_since_rcnt_il: integer (nullable = true)
 |-- total_bal_il: integer (nullable = true)
 |-- il_util: integer (nullable = true)
 |-- open_rv_12m: integer (nullable = true)
 |-- open_rv_24m: integer (nullable = true)
 |-- max_bal_bc: integer (nullable = true)
 |-- all_util: integer (nullable = true)
 |-- total_rev_hi_lim: integer (nullable = true)
 |-- inq_fi: integer (nullable = true)
 |-- total_cu_tl: integer (nullable = true)
 |-- inq_last_12m: integer (nullable = true)
 |-- acc_open_past_24mths: integer (nullable = true)
 |-- avg_cur_bal: integer (nullable = true)
 |-- bc_open_to_buy: integer (nullable = true)
 |-- bc_util: double (nullable = true)
 |-- chargeoff_within_12_mths: integer (nullable = true)
 |-- delinq_amnt: integer (nullable = true)
 |-- mo_sin_old_il_acct: integer (nullable = true)
 |-- mo_sin_old_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_tl: integer (nullable = true)
 |-- mort_acc: integer (nullable = true)
 |-- mths_since_recent_bc: integer (nullable = true)
 |-- mths_since_recent_bc_dlq: integer (nullable = true)
 |-- mths_since_recent_inq: integer (nullable = true)
 |-- mths_since_recent_revol_delinq: integer (nullable = true)
 |-- num_accts_ever_120_pd: integer (nullable = true)
 |-- num_actv_bc_tl: integer (nullable = true)
 |-- num_actv_rev_tl: integer (nullable = true)
 |-- num_bc_sats: integer (nullable = true)
 |-- num_bc_tl: integer (nullable = true)
 |-- num_il_tl: integer (nullable = true)
 |-- num_op_rev_tl: integer (nullable = true)
 |-- num_rev_accts: integer (nullable = true)
 |-- num_rev_tl_bal_gt_0: integer (nullable = true)
 |-- num_sats: integer (nullable = true)
 |-- num_tl_120dpd_2m: integer (nullable = true)
 |-- num_tl_30dpd: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- num_tl_op_past_12m: integer (nullable = true)
 |-- pct_tl_nvr_dlq: double (nullable = true)
 |-- percent_bc_gt_75: double (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- tax_liens: integer (nullable = true)
 |-- tot_hi_cred_lim: integer (nullable = true)
 |-- total_bal_ex_mort: integer (nullable = true)
 |-- total_bc_limit: integer (nullable = true)
 |-- total_il_high_credit_limit: integer (nullable = true)
 |-- revol_bal_joint: integer (nullable = true)
 |-- sec_app_earliest_cr_line: string (nullable = true)
 |-- sec_app_inq_last_6mths: integer (nullable = true)
 |-- sec_app_mort_acc: integer (nullable = true)
 |-- sec_app_open_acc: integer (nullable = true)
 |-- sec_app_revol_util: double (nullable = true)
 |-- sec_app_open_act_il: integer (nullable = true)
 |-- sec_app_num_rev_accts: integer (nullable = true)
 |-- sec_app_chargeoff_within_12_mths: integer (nullable = true)
 |-- sec_app_collections_12_mths_ex_med: integer (nullable = true)
 |-- sec_app_mths_since_last_major_derog: integer (nullable = true)
 |-- hardship_flag: string (nullable = true)
 |-- hardship_type: string (nullable = true)
 |-- hardship_reason: string (nullable = true)
 |-- hardship_status: string (nullable = true)
 |-- deferral_term: integer (nullable = true)
 |-- hardship_amount: double (nullable = true)
 |-- hardship_start_date: string (nullable = true)
 |-- hardship_end_date: string (nullable = true)
 |-- payment_plan_start_date: string (nullable = true)
 |-- hardship_length: integer (nullable = true)
 |-- hardship_dpd: integer (nullable = true)
 |-- hardship_loan_status: string (nullable = true)
 |-- orig_projected_additional_accrued_interest: double (nullable = true)
 |-- hardship_payoff_balance_amount: double (nullable = true)
 |-- hardship_last_payment_amount: double (nullable = true)
 |-- disbursement_method: string (nullable = true)
 |-- debt_settlement_flag: string (nullable = true)
 |-- debt_settlement_flag_date: string (nullable = true)
 |-- settlement_status: string (nullable = true)
 |-- settlement_date: string (nullable = true)
 |-- settlement_amount: double (nullable = true)
 |-- settlement_percentage: double (nullable = true)
: string (nullable = true)

In [9]:
# Register the DataFrame as a SQL temporary view
temp_table = "loan"
df.createOrReplaceTempView(temp_table)

In [13]:
df.describe('loan_amnt').show()

+-------+------------------+
|summary|         loan_amnt|
+-------+------------------+
|  count|           2260668|
|   mean|15046.931227849467|
| stddev| 9190.245488233122|
|    min|               500|
|    max|             40000|
+-------+------------------+

In [14]:
quantileProbs = [0.25, 0.5, 0.75, 0.9]
relError = 0.00
df.stat.approxQuantile("loan_amnt", quantileProbs, relError)
# This indicates most of the loans were between 12900 and 20000

[8000.0, 12900.0, 20000.0, 30000.0]

In [15]:
quantileProbs = [0.25, 0.5, 0.75, 0.9]
relError = 0.00
df.stat.approxQuantile("funded_amnt", quantileProbs, relError)

[8000.0, 12875.0, 20000.0, 30000.0]

In [16]:
quantileProbs = [0.25, 0.5, 0.75, 0.9]
relError = 0.00
df.stat.approxQuantile("funded_amnt_inv", quantileProbs, relError)

[8000.0, 12800.0, 20000.0, 30000.0]

In [47]:
spark.sql("""
          SELECT YEAR(CAST(FROM_UNIXTIME(UNIX_TIMESTAMP(issue_d, 'MMM-yyyy')) AS date)) AS year, 
          COUNT(*) FROM loan GROUP BY year ORDER BY 2 DESC"""
         ).show()

# So, as you can see maximum loans were issued in 2018
# Also, loans were issued in incremental order
# I think we cannot claim this --> The loans applied by potential borrowers, the amount issued to the borrowers and the amount funded by investors are similarly distributed, meaning that it is most likely that qualified borrowers are going to get the loan they had applied for.

+----+--------+
|year|count(1)|
+----+--------+
|2018|  495242|
|2017|  443579|
|2016|  434407|
|2015|  421095|
|2014|  235629|
|2013|  134814|
|2012|   53367|
|2011|   21721|
|2010|   12537|
|2009|    5281|
|2008|    2393|
|2007|     603|
+----+--------+

In [48]:
#spark.sql("SELECT CAST(FROM_UNIXTIME(UNIX_TIMESTAMP(issue_d, 'MMM-yyyy')) AS date) AS issue_date FROM loan").show()

In [51]:
spark.sql("SELECT loan_status, COUNT(*) FROM loan GROUP BY loan_status ORDER BY 2 DESC").show(truncate=False)

+---------------------------------------------------+--------+
|loan_status                                        |count(1)|
+---------------------------------------------------+--------+
|Fully Paid                                         |1041952 |
|Current                                            |919695  |
|Charged Off                                        |261655  |
|Late (31-120 days)                                 |21897   |
|In Grace Period                                    |8952    |
|Late (16-30 days)                                  |3737    |
|Does not meet the credit policy. Status:Fully Paid |1988    |
|Does not meet the credit policy. Status:Charged Off|761     |
|Default                                            |31      |
+---------------------------------------------------+--------+

In [54]:
df=df.withColumn(
    "bad_loan", 
    when(df.loan_status.isin(["Charged Off", "Default", 
                                  "Does not meet the credit policy. Status:Charged Off", "In Grace Period", 
                                  "Late (16-30 days)", "Late (31-120 days)"
    ]),'Yes').otherwise('No')
)

In [55]:
temp_table = "loan"
df.createOrReplaceTempView(temp_table)

In [57]:
#df.printSchema()

In [61]:
spark.sql("SELECT bad_loan, COUNT(*)/(SELECT COUNT(*) FROM loan) AS per_bad FROM loan GROUP BY bad_loan").show()
# Total 13% bad loan and 87% good loan
# Remember we have considered current as good loan which can be removed for ML model

+--------+------------------+
|bad_loan|           per_bad|
+--------+------------------+
|      No|0.8686083051558212|
|     Yes|0.1313916948441788|
+--------+------------------+

In [94]:
spark.sql("SELECT bad_loan, COUNT(*) AS per_bad FROM loan GROUP BY bad_loan").show()

+--------+-------+
|bad_loan|per_bad|
+--------+-------+
|      No|1963635|
|     Yes| 297033|
+--------+-------+

In [62]:
west = ['CA', 'OR', 'UT','WA', 'CO', 'NV', 'AK', 'MT', 'HI', 'WY', 'ID']
south_west = ['AZ', 'TX', 'NM', 'OK']
south_east = ['GA', 'NC', 'VA', 'FL', 'KY', 'SC', 'LA', 'AL', 'WV', 'DC', 'AR', 'DE', 'MS', 'TN' ]
mid_west = ['IL', 'MO', 'MN', 'OH', 'WI', 'KS', 'MI', 'SD', 'IA', 'NE', 'IN', 'ND']
north_east = ['CT', 'NY', 'PA', 'NJ', 'RI','MA', 'MD', 'VT', 'NH', 'ME']

In [64]:
df=df.withColumn(
    "region", 
    when(df.addr_state.isin(*west),'West')
    .when(df.addr_state.isin(*south_west),'SouthWest')
    .when(df.addr_state.isin(*south_east),'SouthEast')
    .when(df.addr_state.isin(*mid_west),'MidWest')
    .when(df.addr_state.isin(*north_east),'north_east')
)

In [66]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---------+-----------+---------------+----+--------+-----------+-----+---------+----------+--------------+----------+-------------------+-------+-----------+----------+-------+----------+----+-----------+----------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+----------------+--------+------+
|bad_loan|region|_amnt|funded_amnt_inv|term|int_rate|installment|grade|sub_grade|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|pymnt_plan|purpose|addr_state| dti|delinq_2yrs|earliest_cr_line|inq_last_6mths|mths_since_last_delinq|mths_since_last_record|open_acc|pub_rec|revol_bal|revol_util|total_acc|initial_list_status|out_prncp|out_prncp_inv|total_pymnt|total_pymnt_inv|total_rec_prncp|total_rec_int|total_rec_late_fee|recoveries|collection_recovery_fee|last_pymnt_d|last_pymnt_amnt|next_pymnt_d|last_credit_pull_d|collections_12_mths_ex_med|mths_since_last_major_derog|policy_code|application_type|annual_inc_joint|dti_joint|verification_status_joint|acc_now_delinq|tot_coll_amt|tot_cur_bal|open_acc_6m|open_act_il|open_il_12m|open_il_24m|mths_since_rcnt_il|total_bal_il|il_util|open_rv_12m|open_rv_24m|max_bal_bc|all_util|total_rev_hi_lim|inq_fi|total_cu_tl|inq_last_12m|acc_open_past_24mths|avg_cur_bal|bc_open_to_buy|bc_util|chargeoff_within_12_mths|delinq_amnt|mo_sin_old_il_acct|mo_sin_old_rev_tl_op|mo_sin_rcnt_rev_tl_op|mo_sin_rcnt_tl|mort_acc|mths_since_recent_bc|mths_since_recent_bc_dlq|mths_since_recent_inq|mths_since_recent_revol_delinq|num_accts_ever_120_pd|num_actv_bc_tl|num_actv_rev_tl|num_bc_sats|num_bc_tl|num_il_tl|num_op_rev_tl|num_rev_accts|num_rev_tl_bal_gt_0|num_sats|num_tl_120dpd_2m|num_tl_30dpd|num_tl_90g_dpd_24m|num_tl_op_past_12m|pct_tl_nvr_dlq|percent_bc_gt_75|pub_rec_bankruptcies|tax_liens|tot_hi_cred_lim|total_bal_ex_mort|total_bc_limit|total_il_high_credit_limit|revol_bal_joint|sec_app_earliest_cr_line|sec_app_inq_last_6mths|sec_app_mort_acc|sec_app_open_acc|sec_app_revol_util|sec_app_open_act_il|sec_app_num_rev_accts|sec_app_chargeoff_within_12_mths|sec_app_collections_12_mths_ex_med|sec_app_mths_since_last_major_derog|hardship_flag|hardship_type|hardship_reason|hardship_status|deferral_term|hardship_amount|hardship_start_date|hardship_end_date|payment_plan_start_date|hardship_length|hardship_dpd|hardship_loan_status|orig_projected_additional_accrued_interest|hardship_payoff_balance_amount|hardship_last_payment_amount|disbursement_method|debt_settlement_flag|debt_settlement_flag_date|settlement_status|settlement_date|settlement_amount|settlement_percentage|settlement_term
+---------+-----------+---------------+----+--------+-----------+-----+---------+----------+--------------+----------+-------------------+-------+-----------+----------+-------+----------+----+-----------+----------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+----------------+--------+------+
|        0|          0|              0|   0|       0|          0|    0|        0|         0|             0|         4|                  0|      0|          0|         0|      0|         0|1711|         29|              29|            30|               1158502|               1901512|      29|     29|        0|      1802|       29|                  0|        0|            0|          0|              0|              0|            0|                 0|         0|                      0|        2426|              0|     1303607|                73|                       145|                    1679893|          0|               0|         2139958|  2139962|                  2144938|            29|       70276|      70276|     866130|     866129|     866129|     866129|            909924|      866129|1068850|     866129|     866129|    866129|  866348|           70276|866129|     866130|      866130|               50030|      70346|         74935|  76071|                     145|         29|            139071|               70277|                70277|         70276|   50030|               73412|                 1740967|               295435|                       1520309|                70276|         70276|          70276|      58590|    70276|    70276|        70276|        70277|              70276|   58590|          153657|       70276|             70276|             70276|         70431|           75379|                1365|      105|          70276|            50030|         50030|                     70276|        2152648|                 2152647|               2152647|         2152647|         2152647|           2154484|            2152647|              2152647|                         2152647|                           2152647|                            2224726|            0|      2250055|        2250055|        2250055|      2250055|        2250055|            2250055|          2250055|                2250055|        2250055|     2250055|             2250055|                                   2252242|                       2250055|                     2250055|                  0|                   0|                  2227612|          2227612|        2227612|          2227612|              2227612|               0|       0|     0|
+---------+-----------+---------------+----+--------+-----------+-----+---------+----------+--------------+----------+-------------------+-------+-----------+----------+-------+----------+----+-----------+----------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+-----------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+----------------+--------+------+

In [73]:
df=df.withColumn("term_cleaned",regexp_replace(col("term"), "months", "")) \
             .withColumn("emplen_cleaned",regexp_extract(col("emp_length"), "\\d+", 0))

In [74]:
df.printSchema()

root
 |-- loan_amnt: integer (nullable = true)
 |-- funded_amnt: integer (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- pymnt_plan: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)
 |-- mths_since_last_record: integer (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- initial_list_status: string (nullable = true)
 |-- out_prncp: double (nullable = true)
 |-- out_prncp_inv: double (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- total_pymnt_inv: double (nullable = true)
 |-- total_rec_prncp: double (nullable = true)
 |-- total_rec_int: double (nullable = true)
 |-- total_rec_late_fee: double (nullable = true)
 |-- recoveries: double (nullable = true)
 |-- collection_recovery_fee: double (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- last_pymnt_amnt: double (nullable = true)
 |-- next_pymnt_d: string (nullable = true)
 |-- last_credit_pull_d: string (nullable = true)
 |-- collections_12_mths_ex_med: integer (nullable = true)
 |-- mths_since_last_major_derog: integer (nullable = true)
 |-- policy_code: integer (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- acc_now_delinq: integer (nullable = true)
 |-- tot_coll_amt: integer (nullable = true)
 |-- tot_cur_bal: integer (nullable = true)
 |-- open_acc_6m: integer (nullable = true)
 |-- open_act_il: integer (nullable = true)
 |-- open_il_12m: integer (nullable = true)
 |-- open_il_24m: integer (nullable = true)
 |-- mths_since_rcnt_il: integer (nullable = true)
 |-- total_bal_il: integer (nullable = true)
 |-- il_util: integer (nullable = true)
 |-- open_rv_12m: integer (nullable = true)
 |-- open_rv_24m: integer (nullable = true)
 |-- max_bal_bc: integer (nullable = true)
 |-- all_util: integer (nullable = true)
 |-- total_rev_hi_lim: integer (nullable = true)
 |-- inq_fi: integer (nullable = true)
 |-- total_cu_tl: integer (nullable = true)
 |-- inq_last_12m: integer (nullable = true)
 |-- acc_open_past_24mths: integer (nullable = true)
 |-- avg_cur_bal: integer (nullable = true)
 |-- bc_open_to_buy: integer (nullable = true)
 |-- bc_util: double (nullable = true)
 |-- chargeoff_within_12_mths: integer (nullable = true)
 |-- delinq_amnt: integer (nullable = true)
 |-- mo_sin_old_il_acct: integer (nullable = true)
 |-- mo_sin_old_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_tl: integer (nullable = true)
 |-- mort_acc: integer (nullable = true)
 |-- mths_since_recent_bc: integer (nullable = true)
 |-- mths_since_recent_bc_dlq: integer (nullable = true)
 |-- mths_since_recent_inq: integer (nullable = true)
 |-- mths_since_recent_revol_delinq: integer (nullable = true)
 |-- num_accts_ever_120_pd: integer (nullable = true)
 |-- num_actv_bc_tl: integer (nullable = true)
 |-- num_actv_rev_tl: integer (nullable = true)
 |-- num_bc_sats: integer (nullable = true)
 |-- num_bc_tl: integer (nullable = true)
 |-- num_il_tl: integer (nullable = true)
 |-- num_op_rev_tl: integer (nullable = true)
 |-- num_rev_accts: integer (nullable = true)
 |-- num_rev_tl_bal_gt_0: integer (nullable = true)
 |-- num_sats: integer (nullable = true)
 |-- num_tl_120dpd_2m: integer (nullable = true)
 |-- num_tl_30dpd: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- num_tl_op_past_12m: integer (nullable = true)
 |-- pct_tl_nvr_dlq: double (nullable = true)
 |-- percent_bc_gt_75: double (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- tax_liens: integer (nullable = true)
 |-- tot_hi_cred_lim: integer (nullable = true)
 |-- total_bal_ex_mort: integer (nullable = true)
 |-- total_bc_limit: integer (nullable = true)
 |-- total_il_high_credit_limit: integer (nullable = true)
 |-- revol_bal_joint: integer (nullable = true)
 |-- sec_app_earliest_cr_line: string (nullable = true)
 |-- sec_app_inq_last_6mths: integer (nullable = true)
 |-- sec_app_mort_acc: integer (nullable = true)
 |-- sec_app_open_acc: integer (nullable = true)
 |-- sec_app_revol_util: double (nullable = true)
 |-- sec_app_open_act_il: integer (nullable = true)
 |-- sec_app_num_rev_accts: integer (nullable = true)
 |-- sec_app_chargeoff_within_12_mths: integer (nullable = true)
 |-- sec_app_collections_12_mths_ex_med: integer (nullable = true)
 |-- sec_app_mths_since_last_major_derog: integer (nullable = true)
 |-- hardship_flag: string (nullable = true)
 |-- hardship_type: string (nullable = true)
 |-- hardship_reason: string (nullable = true)
 |-- hardship_status: string (nullable = true)
 |-- deferral_term: integer (nullable = true)
 |-- hardship_amount: double (nullable = true)
 |-- hardship_start_date: string (nullable = true)
 |-- hardship_end_date: string (nullable = true)
 |-- payment_plan_start_date: string (nullable = true)
 |-- hardship_length: integer (nullable = true)
 |-- hardship_dpd: integer (nullable = true)
 |-- hardship_loan_status: string (nullable = true)
 |-- orig_projected_additional_accrued_interest: double (nullable = true)
 |-- hardship_payoff_balance_amount: double (nullable = true)
 |-- hardship_last_payment_amount: double (nullable = true)
 |-- disbursement_method: string (nullable = true)
 |-- debt_settlement_flag: string (nullable = true)
 |-- debt_settlement_flag_date: string (nullable = true)
 |-- settlement_status: string (nullable = true)
 |-- settlement_date: string (nullable = true)
 |-- settlement_amount: double (nullable = true)
 |-- settlement_percentage: double (nullable = true)
: string (nullable = true)
 |-- bad_loan: string (nullable = false)
 |-- region: string (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)

In [76]:
df = df.withColumn("term_cleaned",df["term_cleaned"].cast("int")) \
       .withColumn("emplen_cleaned",df["emplen_cleaned"].cast("int"))

In [77]:
temp_table = "loan"
df.createOrReplaceTempView(temp_table)

In [78]:
spark.sql("SELECT term, term_cleaned, emp_length, emplen_cleaned FROM loan").show()

+----------+------------+----------+--------------+
|      term|term_cleaned|emp_length|emplen_cleaned|
+----------+------------+----------+--------------+
| 36 months|          36| 10+ years|            10|
| 60 months|          60| 10+ years|            10|
| 36 months|          36|   6 years|             6|
| 36 months|          36| 10+ years|            10|
| 60 months|          60| 10+ years|            10|
| 36 months|          36| 10+ years|            10|
| 36 months|          36|   4 years|             4|
| 36 months|          36| 10+ years|            10|
| 36 months|          36| 10+ years|            10|
| 36 months|          36|  < 1 year|             1|
| 36 months|          36|  < 1 year|             1|
| 60 months|          60|   2 years|             2|
| 36 months|          36| 10+ years|            10|
| 36 months|          36|   4 years|             4|
| 60 months|          60| 10+ years|            10|
| 36 months|          36| 10+ years|            10|
| 36 months|          36|   4 years|             4|
| 60 months|          60| 10+ years|            10|
| 60 months|          60|   4 years|             4|
| 60 months|          60| 10+ years|            10|
+----------+------------+----------+--------------+
only showing top 20 rows

In [79]:
spark.sql("SELECT region, COUNT(*) FROM loan GROUP BY region ORDER BY 2 DESC").show()

+----------+--------+
|    region|count(1)|
+----------+--------+
| SouthEast|  550165|
|north_east|  519095|
|      West|  515469|
|   MidWest|  403150|
| SouthWest|  272789|
+----------+--------+

In [80]:
spark.sql("SELECT region, AVG(annual_inc) FROM loan GROUP BY region ORDER BY 2 DESC").show()

+----------+-----------------+
|    region|  avg(annual_inc)|
+----------+-----------------+
|north_east|82150.04021957604|
|      West|80199.99104900594|
| SouthWest|79772.06763062255|
| SouthEast|75036.60621253613|
|   MidWest|72646.06989445612|
+----------+-----------------+

In [81]:
spark.sql("SELECT region, AVG(int_rate) FROM loan GROUP BY region ORDER BY 2 DESC").show()

+----------+------------------+
|    region|     avg(int_rate)|
+----------+------------------+
| SouthEast|13.210704970371568|
|north_east|13.101527061562592|
|   MidWest| 13.05565399978571|
|      West|13.026665716117577|
| SouthWest| 13.01920301040458|
+----------+------------------+

In [82]:
spark.sql("SELECT region, AVG(emplen_cleaned) FROM loan GROUP BY region ORDER BY 2 DESC").show()

+----------+-------------------+
|    region|avg(emplen_cleaned)|
+----------+-------------------+
|   MidWest|  6.171929367545541|
|north_east|  6.098544670474444|
| SouthEast|  6.032337946389935|
|      West|  5.924145837636852|
| SouthWest|  5.813940146122143|
+----------+-------------------+

In [84]:
spark.sql("SELECT COUNT(*) from loan WHERE dti IS null").show()

+--------+
|count(1)|
+--------+
|    1711|
+--------+

In [85]:
spark.sql("SELECT application_type, dti, dti_joint FROM loan WHERE dti IS null").show()

+----------------+----+---------+
|application_type| dti|dti_joint|
+----------------+----+---------+
|       Joint App|null|    33.06|
|       Joint App|null|    17.67|
|       Joint App|null|     27.3|
|       Joint App|null|     8.74|
|       Joint App|null|    11.68|
|       Joint App|null|    28.01|
|       Joint App|null|    15.06|
|       Joint App|null|    12.79|
|       Joint App|null|     8.05|
|       Joint App|null|    24.22|
|       Joint App|null|    20.04|
|       Joint App|null|    19.01|
|       Joint App|null|    12.75|
|       Joint App|null|    22.61|
|       Joint App|null|    24.89|
|       Joint App|null|      0.6|
|       Joint App|null|    15.34|
|       Joint App|null|    23.69|
|       Joint App|null|    17.29|
|       Joint App|null|    29.25|
+----------------+----+---------+
only showing top 20 rows

In [86]:
df=df.withColumn("dti_cleaned",coalesce(col("dti"),col("dti_joint")))

In [87]:
temp_table = "loan"
df.createOrReplaceTempView(temp_table)

In [88]:
spark.sql("SELECT COUNT(*) from loan WHERE dti_cleaned IS null").show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [90]:
df.stat.crosstab('loan_status','grade').show()

+--------------------+------+------+------+------+-----+-----+----+
|   loan_status_grade|     A|     B|     C|     D|    E|    F|   G|
+--------------------+------+------+------+------+-----+-----+----+
|     In Grace Period|   668|  2008|  3194|  1965|  794|  230|  93|
|          Fully Paid|212477|329075|286666|135839|56206|17220|4469|
|Does not meet the...|     8|    85|   148|   197|  158|   93|  72|
|             Default|     2|     6|     9|     8|    4|    2|   0|
|  Late (31-120 days)|  1314|  4758|  7640|  4985| 2226|  718| 256|
|   Late (16-30 days)|   267|   824|  1327|   829|  335|  114|  41|
|             Current|204435|275455|267326|120666|40174| 9006|2633|
|Does not meet the...|    90|   269|   481|   494|  378|  154| 122|
|         Charged Off| 13766| 51077| 83262| 59441|35364|14263|4482|
+--------------------+------+------+------+------+-----+-----+----+

In [91]:
df.stat.crosstab('region','loan_status').show()

+------------------+-----------+-------+-------+---------------------------------------------------+--------------------------------------------------+----------+---------------+-----------------+------------------+
|region_loan_status|Charged Off|Current|Default|Does not meet the credit policy. Status:Charged Off|Does not meet the credit policy. Status:Fully Paid|Fully Paid|In Grace Period|Late (16-30 days)|Late (31-120 days)|
+------------------+-----------+-------+-------+---------------------------------------------------+--------------------------------------------------+----------+---------------+-----------------+------------------+
|         SouthEast|      65460| 225937|      5|                                                184|                                               457|    249193|           2359|              974|              5596|
|         SouthWest|      31833| 110862|      4|                                                 79|                                               185|    125560|           1009|              463|              2794|
|           MidWest|      45202| 169925|      9|                                                142|                                               405|    181859|           1449|              550|              3609|
|        north_east|      60827| 216561|      7|                                                190|                                               577|    232264|           2356|              957|              5356|
|              West|      58333| 196410|      6|                                                166|                                               364|    253076|           1779|              793|              4542|
+------------------+-----------+-------+-------+---------------------------------------------------+--------------------------------------------------+----------+---------------+-----------------+------------------+

In [92]:
df.stat.crosstab('bad_loan','grade').show()

+--------------+------+------+------+------+-----+-----+----+
|bad_loan_grade|     A|     B|     C|     D|    E|    F|   G|
+--------------+------+------+------+------+-----+-----+----+
|            No|417002|604799|554473|256999|96758|26380|7224|
|           Yes| 16025| 58758| 95580| 67425|38881|15420|4944|
+--------------+------+------+------+------+-----+-----+----+

In [93]:
df.stat.crosstab('region','bad_loan').show()

# May be dump this as another df and divide by total count to get the percentage

+---------------+------+-----+
|region_bad_loan|    No|  Yes|
+---------------+------+-----+
|      SouthEast|475587|74578|
|      SouthWest|236607|36182|
|        MidWest|352189|50961|
|     north_east|449402|69693|
|           West|449850|65619|
+---------------+------+-----+

In [95]:
spark.sql("SELECT AVG(int_rate) FROM loan").show()

+-----------------+
|    avg(int_rate)|
+-----------------+
|13.09291294419326|
+-----------------+

In [96]:
spark.sql("SELECT AVG(annual_inc) FROM loan").show()

+-----------------+
|  avg(annual_inc)|
+-----------------+
|77992.42868706738|
+-----------------+

In [99]:
spark.sql("SELECT addr_state, SUM(loan_amnt), AVG(int_rate), AVG(annual_inc) FROM loan GROUP BY addr_state ORDER BY 2 DESC LIMIT 5").show()

+----------+--------------+------------------+-----------------+
|addr_state|sum(loan_amnt)|     avg(int_rate)|  avg(annual_inc)|
+----------+--------------+------------------+-----------------+
|        CA|    4808480100|12.976628143969622|83847.98108853432|
|        TX|    2931133525|12.999443797465382|82728.81402050063|
|        NY|    2767160700| 13.26004973470032|81057.04801115961|
|        FL|    2333034500|13.164815329246071|73171.61167620425|
|        IL|    1410451950|12.960123611155202|79884.92210972556|
+----------+--------------+------------------+-----------------+

In [103]:
df=df.withColumn(
    "income_cat", 
    when(df["annual_inc"]<=100000,'Low')
    .when((df["annual_inc"] > 100000) & (df["annual_inc"] <= 200000) ,'Medium')
    .when(df["annual_inc"] > 200000,'High')
)

In [104]:
temp_table = "loan"
df.createOrReplaceTempView(temp_table)

In [105]:
df.printSchema()

root
 |-- loan_amnt: integer (nullable = true)
 |-- funded_amnt: integer (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- pymnt_plan: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)
 |-- mths_since_last_record: integer (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- initial_list_status: string (nullable = true)
 |-- out_prncp: double (nullable = true)
 |-- out_prncp_inv: double (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- total_pymnt_inv: double (nullable = true)
 |-- total_rec_prncp: double (nullable = true)
 |-- total_rec_int: double (nullable = true)
 |-- total_rec_late_fee: double (nullable = true)
 |-- recoveries: double (nullable = true)
 |-- collection_recovery_fee: double (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- last_pymnt_amnt: double (nullable = true)
 |-- next_pymnt_d: string (nullable = true)
 |-- last_credit_pull_d: string (nullable = true)
 |-- collections_12_mths_ex_med: integer (nullable = true)
 |-- mths_since_last_major_derog: integer (nullable = true)
 |-- policy_code: integer (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- acc_now_delinq: integer (nullable = true)
 |-- tot_coll_amt: integer (nullable = true)
 |-- tot_cur_bal: integer (nullable = true)
 |-- open_acc_6m: integer (nullable = true)
 |-- open_act_il: integer (nullable = true)
 |-- open_il_12m: integer (nullable = true)
 |-- open_il_24m: integer (nullable = true)
 |-- mths_since_rcnt_il: integer (nullable = true)
 |-- total_bal_il: integer (nullable = true)
 |-- il_util: integer (nullable = true)
 |-- open_rv_12m: integer (nullable = true)
 |-- open_rv_24m: integer (nullable = true)
 |-- max_bal_bc: integer (nullable = true)
 |-- all_util: integer (nullable = true)
 |-- total_rev_hi_lim: integer (nullable = true)
 |-- inq_fi: integer (nullable = true)
 |-- total_cu_tl: integer (nullable = true)
 |-- inq_last_12m: integer (nullable = true)
 |-- acc_open_past_24mths: integer (nullable = true)
 |-- avg_cur_bal: integer (nullable = true)
 |-- bc_open_to_buy: integer (nullable = true)
 |-- bc_util: double (nullable = true)
 |-- chargeoff_within_12_mths: integer (nullable = true)
 |-- delinq_amnt: integer (nullable = true)
 |-- mo_sin_old_il_acct: integer (nullable = true)
 |-- mo_sin_old_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_rev_tl_op: integer (nullable = true)
 |-- mo_sin_rcnt_tl: integer (nullable = true)
 |-- mort_acc: integer (nullable = true)
 |-- mths_since_recent_bc: integer (nullable = true)
 |-- mths_since_recent_bc_dlq: integer (nullable = true)
 |-- mths_since_recent_inq: integer (nullable = true)
 |-- mths_since_recent_revol_delinq: integer (nullable = true)
 |-- num_accts_ever_120_pd: integer (nullable = true)
 |-- num_actv_bc_tl: integer (nullable = true)
 |-- num_actv_rev_tl: integer (nullable = true)
 |-- num_bc_sats: integer (nullable = true)
 |-- num_bc_tl: integer (nullable = true)
 |-- num_il_tl: integer (nullable = true)
 |-- num_op_rev_tl: integer (nullable = true)
 |-- num_rev_accts: integer (nullable = true)
 |-- num_rev_tl_bal_gt_0: integer (nullable = true)
 |-- num_sats: integer (nullable = true)
 |-- num_tl_120dpd_2m: integer (nullable = true)
 |-- num_tl_30dpd: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- num_tl_op_past_12m: integer (nullable = true)
 |-- pct_tl_nvr_dlq: double (nullable = true)
 |-- percent_bc_gt_75: double (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- tax_liens: integer (nullable = true)
 |-- tot_hi_cred_lim: integer (nullable = true)
 |-- total_bal_ex_mort: integer (nullable = true)
 |-- total_bc_limit: integer (nullable = true)
 |-- total_il_high_credit_limit: integer (nullable = true)
 |-- revol_bal_joint: integer (nullable = true)
 |-- sec_app_earliest_cr_line: string (nullable = true)
 |-- sec_app_inq_last_6mths: integer (nullable = true)
 |-- sec_app_mort_acc: integer (nullable = true)
 |-- sec_app_open_acc: integer (nullable = true)
 |-- sec_app_revol_util: double (nullable = true)
 |-- sec_app_open_act_il: integer (nullable = true)
 |-- sec_app_num_rev_accts: integer (nullable = true)
 |-- sec_app_chargeoff_within_12_mths: integer (nullable = true)
 |-- sec_app_collections_12_mths_ex_med: integer (nullable = true)
 |-- sec_app_mths_since_last_major_derog: integer (nullable = true)
 |-- hardship_flag: string (nullable = true)
 |-- hardship_type: string (nullable = true)
 |-- hardship_reason: string (nullable = true)
 |-- hardship_status: string (nullable = true)
 |-- deferral_term: integer (nullable = true)
 |-- hardship_amount: double (nullable = true)
 |-- hardship_start_date: string (nullable = true)
 |-- hardship_end_date: string (nullable = true)
 |-- payment_plan_start_date: string (nullable = true)
 |-- hardship_length: integer (nullable = true)
 |-- hardship_dpd: integer (nullable = true)
 |-- hardship_loan_status: string (nullable = true)
 |-- orig_projected_additional_accrued_interest: double (nullable = true)
 |-- hardship_payoff_balance_amount: double (nullable = true)
 |-- hardship_last_payment_amount: double (nullable = true)
 |-- disbursement_method: string (nullable = true)
 |-- debt_settlement_flag: string (nullable = true)
 |-- debt_settlement_flag_date: string (nullable = true)
 |-- settlement_status: string (nullable = true)
 |-- settlement_date: string (nullable = true)
 |-- settlement_amount: double (nullable = true)
 |-- settlement_percentage: double (nullable = true)
: string (nullable = true)
 |-- bad_loan: string (nullable = false)
 |-- region: string (nullable = true)
 |-- term_cleaned: integer (nullable = true)
 |-- emplen_cleaned: integer (nullable = true)
 |-- dti_cleaned: double (nullable = true)
 |-- income_cat: string (nullable = true)

In [106]:
spark.sql("SELECT income_cat, AVG(loan_amnt) FROM loan GROUP BY income_cat ORDER BY 2 DESC ").show()

+----------+------------------+
|income_cat|    avg(loan_amnt)|
+----------+------------------+
|      High| 25830.78597917291|
|    Medium|21107.450458526873|
|       Low| 13413.56220061527|
|      null|            6300.0|
+----------+------------------+

In [107]:
# Remember to impute null values into loan_amnt column

In [112]:
df.stat.crosstab('income_cat','bad_loan').show()

+-------------------+-------+------+
|income_cat_bad_loan|     No|   Yes|
+-------------------+-------+------+
|             Medium| 353251| 40510|
|               High|  48782|  4610|
|                Low|1561598|251913|
|               null|      4|     0|
+-------------------+-------+------+

In [113]:
spark.sql("SELECT income_cat, AVG(int_rate) FROM loan GROUP BY income_cat ORDER BY 2 DESC").show()

+----------+------------------+
|income_cat|     avg(int_rate)|
+----------+------------------+
|       Low|13.307484459624483|
|    Medium| 12.29144595328553|
|      High| 11.71592204824534|
|      null| 7.827500000000001|
+----------+------------------+

In [114]:
spark.sql("SELECT income_cat, AVG(emplen_cleaned) FROM loan GROUP BY income_cat ORDER BY 2 DESC").show()

+----------+-------------------+
|income_cat|avg(emplen_cleaned)|
+----------+-------------------+
|    Medium|  6.449735805702042|
|      High|  6.339117613700806|
|       Low|  5.912311118569849|
|      null|                1.0|
+----------+-------------------+

In [116]:
spark.sql("SELECT addr_state, (SELECT SUM(loan_amnt) FROM loan WHERE bad_loan = 'Yes') FROM loan GROUP BY addr_state ORDER BY 2 DESC").show()

# Create same output as out 23 kaggle

+----------+----------------+
|addr_state|scalarsubquery()|
+----------+----------------+
|        DC|      4664104700|
|        MN|      4664104700|
|        SC|      4664104700|
|        AZ|      4664104700|
|        VA|      4664104700|
|        NJ|      4664104700|
|        OR|      4664104700|
|        KY|      4664104700|
|        WY|      4664104700|
|        LA|      4664104700|
|        NH|      4664104700|
|        CT|      4664104700|
|        NE|      4664104700|
|        CA|      4664104700|
|        WI|      4664104700|
|        VT|      4664104700|
|        RI|      4664104700|
|        MT|      4664104700|
|        MD|      4664104700|
|        ID|      4664104700|
+----------+----------------+
only showing top 20 rows

In [ ]:
# Generate output of 25, 26,

In [117]:
# Maybe add interest_payment column?

In [118]:
spark.sql("SELECT purpose, COUNT(*) FROM loan GROUP BY purpose ORDER BY 2 DESC").show()

+------------------+--------+
|           purpose|count(1)|
+------------------+--------+
|debt_consolidation| 1277877|
|       credit_card|  516971|
|  home_improvement|  150457|
|             other|  139440|
|    major_purchase|   50445|
|           medical|   27488|
|    small_business|   24689|
|               car|   24013|
|          vacation|   15525|
|            moving|   15403|
|             house|   14136|
|           wedding|    2355|
|  renewable_energy|    1445|
|       educational|     424|
+------------------+--------+

In [119]:
# Stratified split in PySpark?

In [ ]:
####################################################################################################################3

In [7]:
# Register the DataFrame as a SQL temporary view
temp_table = "loan"
df.createOrReplaceTempView(temp_table)

In [8]:
spark.sql("SELECT * FROM loan")

DataFrame[id: string, member_id: string, loan_amnt: int, funded_amnt: int, funded_amnt_inv: double, term: string, int_rate: double, installment: double, grade: string, sub_grade: string, emp_title: string, emp_length: string, home_ownership: string, annual_inc: double, verification_status: string, issue_d: string, loan_status: string, pymnt_plan: string, url: string, desc: string, purpose: string, title: string, zip_code: string, addr_state: string, dti: double, delinq_2yrs: int, earliest_cr_line: string, inq_last_6mths: int, mths_since_last_delinq: int, mths_since_last_record: int, open_acc: int, pub_rec: int, revol_bal: int, revol_util: double, total_acc: int, initial_list_status: string, out_prncp: double, out_prncp_inv: double, total_pymnt: double, total_pymnt_inv: double, total_rec_prncp: double, total_rec_int: double, total_rec_late_fee: double, recoveries: double, collection_recovery_fee: double, last_pymnt_d: string, last_pymnt_amnt: double, next_pymnt_d: string, last_credit_pull_d: string, collections_12_mths_ex_med: int, mths_since_last_major_derog: int, policy_code: int, application_type: string, annual_inc_joint: double, dti_joint: double, verification_status_joint: string, acc_now_delinq: int, tot_coll_amt: int, tot_cur_bal: int, open_acc_6m: int, open_act_il: int, open_il_12m: int, open_il_24m: int, mths_since_rcnt_il: int, total_bal_il: int, il_util: int, open_rv_12m: int, open_rv_24m: int, max_bal_bc: int, all_util: int, total_rev_hi_lim: int, inq_fi: int, total_cu_tl: int, inq_last_12m: int, acc_open_past_24mths: int, avg_cur_bal: int, bc_open_to_buy: int, bc_util: double, chargeoff_within_12_mths: int, delinq_amnt: int, mo_sin_old_il_acct: int, mo_sin_old_rev_tl_op: int, mo_sin_rcnt_rev_tl_op: int, mo_sin_rcnt_tl: int, mort_acc: int, mths_since_recent_bc: int, mths_since_recent_bc_dlq: int, mths_since_recent_inq: int, mths_since_recent_revol_delinq: int, num_accts_ever_120_pd: int, num_actv_bc_tl: int, num_actv_rev_tl: int, num_bc_sats: int, num_bc_tl: int, num_il_tl: int, num_op_rev_tl: int, num_rev_accts: int, num_rev_tl_bal_gt_0: int, num_sats: int, num_tl_120dpd_2m: int, num_tl_30dpd: int, num_tl_90g_dpd_24m: int, num_tl_op_past_12m: int, pct_tl_nvr_dlq: double, percent_bc_gt_75: double, pub_rec_bankruptcies: int, tax_liens: int, tot_hi_cred_lim: int, total_bal_ex_mort: int, total_bc_limit: int, total_il_high_credit_limit: int, revol_bal_joint: int, sec_app_earliest_cr_line: string, sec_app_inq_last_6mths: int, sec_app_mort_acc: int, sec_app_open_acc: int, sec_app_revol_util: double, sec_app_open_act_il: int, sec_app_num_rev_accts: int, sec_app_chargeoff_within_12_mths: int, sec_app_collections_12_mths_ex_med: int, sec_app_mths_since_last_major_derog: int, hardship_flag: string, hardship_type: string, hardship_reason: string, hardship_status: string, deferral_term: int, hardship_amount: double, hardship_start_date: string, hardship_end_date: string, payment_plan_start_date: string, hardship_length: int, hardship_dpd: int, hardship_loan_status: string, orig_projected_additional_accrued_interest: double, hardship_payoff_balance_amount: double, hardship_last_payment_amount: double, disbursement_method: string, debt_settlement_flag: string, debt_settlement_flag_date: string, settlement_status: string, settlement_date: string, settlement_amount: double, settlement_percentage: double, settlement_term
: string]

In [9]:
spark.sql("SELECT COUNT(*) FROM loan").show()

+--------+
|count(1)|
+--------+
| 2260668|
+--------+

In [10]:
df.describe().show()

KeyboardInterrupt:

In [11]:
df_sel = df.select(
    "term", "home_ownership", "grade", "purpose", "int_rate", "installment",
    "addr_state","loan_status","application_type","loan_amnt","emp_length", 
    "annual_inc","dti","delinq_2yrs","revol_bal","revol_util","total_acc",
    "num_tl_90g_dpd_24m","dti_joint"
)

In [12]:
df_sel.describe().show()

+-------+----------+--------------+-------+-------+-----------------+-----------------+----------+------------------+----------------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|      term|home_ownership|  grade|purpose|         int_rate|      installment|addr_state|       loan_status|application_type|         loan_amnt|emp_length|        annual_inc|               dti|       delinq_2yrs|         revol_bal|        revol_util|         total_acc|num_tl_90g_dpd_24m|        dti_joint|
+-------+----------+--------------+-------+-------+-----------------+-----------------+----------+------------------+----------------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|   2260668|       2260668|2260668|2260668|          2260668|          2260668|   2260668|           2260668|         2260668|           2260668|   2260668|           2260664|           2258957|           2260639|           2260668|           2258866|           2260639|           2190392|           120706|
|   mean|      null|          null|   null|   null|13.09291294419326|445.8076459263479|      null|              null|            null|15046.931227849467|      null| 77992.42868706738| 18.82419643667267|0.3068791611575311|16658.458077877865|50.337696246702926|24.162552269513178|0.0829376659520305|19.25181705963253|
| stddev|      null|          null|   null|   null|4.832114232872322|267.1737249936559|      null|              null|            null| 9190.245488233122|      null|112696.19957435192|14.183328543078048|0.8672303328968344|22948.305027790688|24.713073320891283|11.987528317343706|0.4935732136320064|7.822085979598807|
|    min| 36 months|           ANY|      A|    car|             5.31|             4.93|        AK|       Charged Off|      Individual|               500|    1 year|               0.0|              -1.0|                 0|                 0|               0.0|                 1|                 0|              0.0|
|    max| 60 months|          RENT|      G|wedding|            30.99|          1719.83|        WY|Late (31-120 days)|       Joint App|             40000|       n/a|             1.1E8|             999.0|                58|           2904836|             892.3|               176|                58|            69.49|
+-------+----------+--------------+-------+-------+-----------------+-----------------+----------+------------------+----------------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+

In [12]:
df_sel.describe("term","loan_amnt","emp_length", "annual_inc","dti","delinq_2yrs","revol_util","total_acc").show()

+-------+----------+------------------+----------+------------------+------------------+-------------------+--------------------+--------------------+
|summary|      term|         loan_amnt|emp_length|        annual_inc|               dti|        delinq_2yrs|          revol_util|           total_acc|
+-------+----------+------------------+----------+------------------+------------------+-------------------+--------------------+--------------------+
|  count|   2260668|           2260668|   2260668|           2260664|           2258956|            2260638|             2258834|             2260618|
|   mean|      null|15046.931227849467|      null| 77992.44637764219|18.824907147958033|0.30721594910725347|    50.8582040171043|  24.455913212538377|
| stddev|      null| 9190.245488232787|      null|112696.22136091437|14.183773199305026| 0.8703772261110826|   185.3057416175736|  104.00261134157218|
|    min| 36 months|               500| reactors"|                 0|       Karen     "|           BEST BUY| #450216.<br/> 55...| and the work we ...|
|    max| 60 months|             40000|       n/a|          MORTGAGE|           wedding|     small_business|              moving|      small_business|
+-------+----------+------------------+----------+------------------+------------------+-------------------+--------------------+--------------------+

In [13]:
df_sel.cache()

DataFrame[term: string, home_ownership: string, grade: string, purpose: string, int_rate: double, installment: double, addr_state: string, loan_status: string, application_type: string, loan_amnt: int, emp_length: string, annual_inc: double, dti: double, delinq_2yrs: int, revol_bal: int, revol_util: double, total_acc: int, num_tl_90g_dpd_24m: int, dti_joint: double]

In [14]:
df_sel.describe("loan_amnt","emp_length" ,"dti","delinq_2yrs","revol_util","total_acc").show()

+-------+------------------+----------+------------------+------------------+------------------+------------------+
|summary|         loan_amnt|emp_length|               dti|       delinq_2yrs|        revol_util|         total_acc|
+-------+------------------+----------+------------------+------------------+------------------+------------------+
|  count|           2260668|   2260668|           2258957|           2260639|           2258866|           2260639|
|   mean|15046.931227849467|      null| 18.82419643667267|0.3068791611575311|50.337696246702926|24.162552269513178|
| stddev| 9190.245488233122|      null|14.183328543078048|0.8672303328968344|24.713073320891283|11.987528317343706|
|    min|               500|    1 year|              -1.0|                 0|               0.0|                 1|
|    max|             40000|       n/a|             999.0|                58|             892.3|               176|
+-------+------------------+----------+------------------+------------------+------------------+------------------+

In [15]:
spark.sql("SELECT DISTINCT(emp_length) FROM loan LIMIT 50").show()

+----------+
|emp_length|
+----------+
|   9 years|
|   5 years|
|    1 year|
|       n/a|
|   2 years|
|   7 years|
|   8 years|
|   4 years|
|   6 years|
|   3 years|
| 10+ years|
|  < 1 year|
+----------+

In [16]:
regex_string='years|year|\\+|\\<'
df_sel.select(regexp_replace(col("emp_length"), regex_string, "").alias("emplength_cleaned"),col("emp_length")).show(10)

+-----------------+----------+
|emplength_cleaned|emp_length|
+-----------------+----------+
|              10 | 10+ years|
|              10 | 10+ years|
|               6 |   6 years|
|              10 | 10+ years|
|              10 | 10+ years|
|              10 | 10+ years|
|               4 |   4 years|
|              10 | 10+ years|
|              10 | 10+ years|
|               1 |  < 1 year|
+-----------------+----------+
only showing top 10 rows

In [17]:
regex_string="\\d+"
df_sel.select(regexp_extract(col("emp_length"), regex_string, 0).alias("emplength_cleaned"),col("emp_length")).show(10)

+-----------------+----------+
|emplength_cleaned|emp_length|
+-----------------+----------+
|               10| 10+ years|
|               10| 10+ years|
|                6|   6 years|
|               10| 10+ years|
|               10| 10+ years|
|               10| 10+ years|
|                4|   4 years|
|               10| 10+ years|
|               10| 10+ years|
|                1|  < 1 year|
+-----------------+----------+
only showing top 10 rows

In [18]:
df_sel.show(2)

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+
| 36 months|          RENT|    C|debt_consolidation|   13.56|      84.92|        NY|    Current|      Individual|     2500| 10+ years|   55000.0|18.24|          0|     4341|      10.3|       34|                 0|     null|
| 60 months|      MORTGAGE|    D|debt_consolidation|   18.94|     777.23|        LA|    Current|      Individual|    30000| 10+ years|   90000.0|26.52|          0|    12315|      24.2|       44|                 0|     null|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+
only showing top 2 rows

In [19]:
df_sel=df_sel.withColumn("term_cleaned",regexp_replace(col("term"), "months", "")) \
             .withColumn("emplen_cleaned",regexp_extract(col("emp_length"), "\\d+", 0))

In [20]:
df_sel.select('term','term_cleaned','emp_length','emplen_cleaned').show(15)

+----------+------------+----------+--------------+
|      term|term_cleaned|emp_length|emplen_cleaned|
+----------+------------+----------+--------------+
| 36 months|         36 | 10+ years|            10|
| 60 months|         60 | 10+ years|            10|
| 36 months|         36 |   6 years|             6|
| 36 months|         36 | 10+ years|            10|
| 60 months|         60 | 10+ years|            10|
| 36 months|         36 | 10+ years|            10|
| 36 months|         36 |   4 years|             4|
| 36 months|         36 | 10+ years|            10|
| 36 months|         36 | 10+ years|            10|
| 36 months|         36 |  < 1 year|             1|
| 36 months|         36 |  < 1 year|             1|
| 60 months|         60 |   2 years|             2|
| 36 months|         36 | 10+ years|            10|
| 36 months|         36 |   4 years|             4|
| 60 months|         60 | 10+ years|            10|
+----------+------------+----------+--------------+
only showing top 15 rows

In [21]:
df_sel.printSchema()

root
 |-- term: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)

In [22]:
table_name="loan_sel"
df_sel.createOrReplaceTempView(table_name)

In [23]:
spark.sql("SELECT * FROM loan_sel").show()

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
| 36 months|          RENT|    C|debt_consolidation|   13.56|      84.92|        NY|    Current|      Individual|     2500| 10+ years|   55000.0|18.24|          0|     4341|      10.3|       34|                 0|     null|         36 |            10|
| 60 months|      MORTGAGE|    D|debt_consolidation|   18.94|     777.23|        LA|    Current|      Individual|    30000| 10+ years|   90000.0|26.52|          0|    12315|      24.2|       44|                 0|     null|         60 |            10|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|     180.69|        MI|    Current|      Individual|     5000|   6 years|   59280.0|10.51|          0|     4599|      19.1|       13|                 0|     null|         36 |             6|
| 36 months|      MORTGAGE|    D|debt_consolidation|   18.94|     146.51|        WA|    Current|      Individual|     4000| 10+ years|   92000.0|16.74|          0|     5468|      78.1|       13|                 0|     null|         36 |            10|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.14|     731.78|        MD|    Current|      Individual|    30000| 10+ years|   57250.0|26.35|          0|      829|       3.6|       26|                 0|     null|         60 |            10|
| 36 months|      MORTGAGE|    C|       credit_card|   15.02|     192.45|        IN|    Current|      Individual|     5550| 10+ years|  152500.0|37.94|          0|    53854|      48.1|       44|                 0|     null|         36 |            10|
| 36 months|          RENT|    D|debt_consolidation|   17.97|      72.28|        IL|    Current|      Individual|     2000|   4 years|   51000.0|  2.4|          0|        0|      null|        9|                 0|     null|         36 |             4|
| 36 months|          RENT|    C|       credit_card|   13.56|     203.79|        IN|    Current|      Individual|     6000| 10+ years|   65000.0| 30.1|          0|    38476|      69.3|       37|                 0|     null|         36 |            10|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|     180.69|        FL|    Current|      Individual|     5000| 10+ years|   53580.0|21.16|          0|     8018|      35.2|       38|                 0|     null|         36 |            10|
| 36 months|           OWN|    C|debt_consolidation|   14.47|     206.44|        CT|    Current|      Individual|     6000|  < 1 year|  300000.0|17.43|          1|    65950|      49.8|       58|                 0|     null|         36 |             1|
| 36 months|      MORTGAGE|    D|       credit_card|   22.35|     211.05|        LA|    Current|      Individual|     5500|  < 1 year|   50000.0|15.94|          1|     4529|      94.4|       13|                 1|     null|         36 |             1|
| 60 months|      MORTGAGE|    B|       credit_card|   11.31|     613.13|        GA|    Current|      Individual|    28000|   2 years|   70000.0|22.01|          0|    56152|      55.9|       23|                 0|     null|         60 |             2|
| 36 months|      MORTGAGE|    A|       credit_card|    8.19|     351.95|        UT|    Current|      Individual|    11200| 10+ years|   65000.0| 23.6|          0|     8836|      16.6|       27|                 0|     null|         36 |            10|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|      234.9|        NC|    Current|      Individual|     6500|   4 years|  154000.0|28.78|          2|    23754|      60.4|       41|                 1|     null|         36 |             4|
| 60 months|      MORTGAGE|    B|debt_consolidation|   12.98|     500.35|        KY|    Current|      Individual|    22000| 10+ years|   65000.0|11.19|          0|      134|       0.5|       16|                 0|     null|         60 |            10|
| 36 months|      MORTGAGE|    C|debt_consolidation|   16.14|      123.3|        IL|    Current|       Joint App|     3500| 10+ years|   80000.0|13.63|          0|     8952|      58.5|       27|                 0|    10.77|         36 |            10|
| 36 months|      MORTGAGE|    B|             house|   12.98|      235.8|        OH|    Current|      Individual|     7000|   4 years|  102500.0| 15.2|          0|     1057|       7.2|       21|                 0|     null|         36 |             4|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.91|     620.11|        OH|    Current|       Joint App|    25000| 10+ years|   23878.0| 6.26|          0|     3044|      54.4|        8|                 0|    18.91|         60 |            10|
| 60 months|      MORTGAGE|    D|       credit_card|   20.89|     431.87|        AR|    Current|      Individual|    16000|   4 years|  120000.0|27.57|          1|    18826|      82.2|       37|                 0|     null|         60 |             4|
| 60 months|      MORTGAGE|    C|debt_consolidation|   14.47|     305.67|        OK|    Current|      Individual|    13000| 10+ years|   75000.0|26.16|          0|    15551|      58.2|       13|                 0|     null|         60 |            10|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
only showing top 20 rows

In [24]:
df_sel = df_sel.withColumn("annual_inc",df_sel["annual_inc"].cast("double")) # no need for this now

In [25]:
#df_sel.stat.cov('annual_inc', 'loan_amnt')

In [26]:
#result = df.describe()
#result.select(result['summary'],
#              format_number(result['Open'].cast('float'),2).alias('Open'),
#              format_number(result['High'].cast('float'),2).alias('High'),
#              format_number(result['Low'].cast('float'),2).alias('Low'),
#              format_number(result['Close'].cast('float'),2).alias('Close'),
#              result['Volume'].cast('int').alias('Volume')
#             ).show()

In [27]:
#df_sel.stat.corr('annual_inc', 'loan_amnt')

In [28]:
spark.sql("SELECT CORR(annual_inc, loan_amnt) AS corr FROM loan_sel").show()

+-------------------+
|               corr|
+-------------------+
|0.19724584986927352|
+-------------------+

In [29]:
df_sel.stat.crosstab('loan_status','grade').show()

+--------------------+------+------+------+------+-----+-----+----+
|   loan_status_grade|     A|     B|     C|     D|    E|    F|   G|
+--------------------+------+------+------+------+-----+-----+----+
|     In Grace Period|   668|  2008|  3194|  1965|  794|  230|  93|
|          Fully Paid|212477|329075|286666|135839|56206|17220|4469|
|Does not meet the...|     8|    85|   148|   197|  158|   93|  72|
|             Default|     2|     6|     9|     8|    4|    2|   0|
|  Late (31-120 days)|  1314|  4758|  7640|  4985| 2226|  718| 256|
|   Late (16-30 days)|   267|   824|  1327|   829|  335|  114|  41|
|             Current|204435|275455|267326|120666|40174| 9006|2633|
|Does not meet the...|    90|   269|   481|   494|  378|  154| 122|
|         Charged Off| 13766| 51077| 83262| 59441|35364|14263|4482|
+--------------------+------+------+------+------+-----+-----+----+

In [42]:
# Maybe add a plot here using matplotlib by dunping this df_sel into new df.

In [30]:
freq=df_sel.stat.freqItems(['purpose','grade'],0.3)

In [31]:
freq.collect()

[Row(purpose_freqItems=['debt_consolidation', 'credit_card'], grade_freqItems=['A', 'C', 'B'])]

In [32]:
spark.sql("SELECT DISTINCT(purpose) FROM loan_sel").show(50,truncate=False) # Some issue with DISTINCT Column, looks like csv isnot read properly

+------------------+
|purpose           |
+------------------+
|wedding           |
|educational       |
|other             |
|small_business    |
|debt_consolidation|
|credit_card       |
|moving            |
|vacation          |
|renewable_energy  |
|house             |
|car               |
|major_purchase    |
|medical           |
|home_improvement  |
+------------------+

In [35]:
spark.sql("SELECT purpose, COUNT(*) AS count FROM loan_sel GROUP BY purpose").show()

+------------------+-------+
|           purpose|  count|
+------------------+-------+
|           wedding|   2355|
|       educational|    424|
|             other| 139440|
|    small_business|  24689|
|debt_consolidation|1277877|
|       credit_card| 516971|
|            moving|  15403|
|          vacation|  15525|
|  renewable_energy|   1445|
|             house|  14136|
|               car|  24013|
|    major_purchase|  50445|
|           medical|  27488|
|  home_improvement| 150457|
+------------------+-------+

In [36]:
spark.sql("SELECT purpose, COUNT(*) AS count FROM loan_sel GROUP BY purpose ORDER BY count DESC").show()

# INfer meaning our of this output

+------------------+-------+
|           purpose|  count|
+------------------+-------+
|debt_consolidation|1277877|
|       credit_card| 516971|
|  home_improvement| 150457|
|             other| 139440|
|    major_purchase|  50445|
|           medical|  27488|
|    small_business|  24689|
|               car|  24013|
|          vacation|  15525|
|            moving|  15403|
|             house|  14136|
|           wedding|   2355|
|  renewable_energy|   1445|
|       educational|    424|
+------------------+-------+

In [38]:
quantileProbs = [0.25, 0.5, 0.75, 0.9]
relError = 0.05
df_sel.stat.approxQuantile("loan_amnt", quantileProbs, relError)

[8000.0, 15000.0, 20000.0, 27000.0]

In [39]:
quantileProbs = [0.25, 0.5, 0.75, 0.9]
relError = 0.0
df_sel.stat.approxQuantile("loan_amnt", quantileProbs, relError)

[8000.0, 12900.0, 20000.0, 30000.0]

In [42]:
df_sel.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_sel.columns]).show()

+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|term|home_ownership|grade|purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|   0|             0|    0|      0|       0|          0|         0|          0|               0|        0|         0|         4|1711|         29|        0|      1802|       29|             70276|  2139962|           0|             0|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+

In [45]:
spark.sql("SELECT loan_status, COUNT(*) FROM loan GROUP BY loan_status ORDER BY 2 DESC").show(truncate=False)

+---------------------------------------------------+--------+
|loan_status                                        |count(1)|
+---------------------------------------------------+--------+
|Fully Paid                                         |1041952 |
|Current                                            |919695  |
|Charged Off                                        |261655  |
|Late (31-120 days)                                 |21897   |
|In Grace Period                                    |8952    |
|Late (16-30 days)                                  |3737    |
|Does not meet the credit policy. Status:Fully Paid |1988    |
|Does not meet the credit policy. Status:Charged Off|761     |
|Default                                            |31      |
+---------------------------------------------------+--------+

In [46]:
df_sel=df_sel.na.drop("all", subset=["loan_status"])

In [47]:
df_sel.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_sel.columns]).show()

+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|term|home_ownership|grade|purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|   0|             0|    0|      0|       0|          0|         0|          0|               0|        0|         0|         4|1711|         29|        0|      1802|       29|             70276|  2139962|           0|             0|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+

In [48]:
df_sel.describe("dti","revol_util").show()

+-------+------------------+------------------+
|summary|               dti|        revol_util|
+-------+------------------+------------------+
|  count|           2258957|           2258866|
|   mean| 18.82419643667267|50.337696246702926|
| stddev|14.183328543078048|24.713073320891283|
|    min|              -1.0|               0.0|
|    max|             999.0|             892.3|
+-------+------------------+------------------+

In [55]:
spark.sql("select ceil(REGEXP_REPLACE(revol_util,"\%","")), count(*) from loanstatus_sel group by ceil(REGEXP_REPLACE(revol_util,"\%",""))")

SyntaxError: unexpected character after line continuation character (<ipython-input-55-7d01aadf81ae>, line 1)

In [59]:
spark.sql("select * from loan_sel where revol_util is null").show()

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
| 36 months|          RENT|    D|debt_consolidation|   17.97|      72.28|        IL|    Current|      Individual|     2000|   4 years|   51000.0|  2.4|          0|        0|      null|        9|                 0|     null|         36 |             4|
| 36 months|          RENT|    C|           medical|   13.56|     118.88|        CA|    Current|      Individual|     3500| 10+ years|   32000.0|39.65|          0|        0|      null|       28|                 0|     null|         36 |            10|
| 36 months|      MORTGAGE|    B|  home_improvement|   10.72|     163.04|        NC|    Current|       Joint App|     5000|   6 years|   30000.0| 5.08|          0|        0|      null|       11|                 0|     9.17|         36 |             6|
| 60 months|          RENT|    C|debt_consolidation|   13.56|     345.62|        NY|    Current|      Individual|    15000|  < 1 year|  130000.0| 4.77|          5|        0|      null|       15|                 1|     null|         60 |             1|
| 36 months|      MORTGAGE|    A|  home_improvement|    7.56|     622.68|        CA|    Current|      Individual|    20000|  < 1 year|  175000.0|26.41|          0|    17851|      null|       14|                 0|     null|         36 |             1|
| 36 months|          RENT|    B|    small_business|    11.8|      99.36|        NY|    Current|      Individual|     3000|  < 1 year|   40000.0|20.13|          0|        0|      null|       13|                 0|     null|         36 |             1|
| 36 months|      MORTGAGE|    B|debt_consolidation|   10.33|     324.23|        OR|    Current|      Individual|    10000|  < 1 year|   39000.0|18.65|          0|        0|      null|       13|                 0|     null|         36 |             1|
| 60 months|          RENT|    B|debt_consolidation|   12.98|     682.29|        VA|    Current|      Individual|    30000|    1 year|  175000.0|11.36|          0|        0|      null|       22|                 0|     null|         60 |             1|
| 36 months|           OWN|    E|             other|   24.37|      39.43|        LA|    Current|      Individual|     1000|   5 years|   60000.0|  5.5|          0|        0|      null|       53|                 0|     null|         36 |             5|
| 36 months|           OWN|    C|             other|   16.14|      528.4|        WI|    Current|       Joint App|    15000|       n/a|   20000.0|31.27|          1|        0|      null|        6|                 0|    21.97|         36 |              |
| 36 months|           OWN|    D|             other|   18.94|     146.51|        TX|    Current|      Individual|     4000|   6 years|   34000.0| 0.88|          0|        0|      null|        3|                 0|     null|         36 |             6|
| 36 months|          RENT|    E|            moving|   27.27|      40.98|        TX|    Current|      Individual|     1000|  < 1 year|   48580.0|26.26|          0|        0|      null|       13|                 0|     null|         36 |             1|
| 36 months|      MORTGAGE|    D|    major_purchase|   20.89|      52.67|        NC|    Current|      Individual|     1400| 10+ years|   74000.0|27.94|          1|        0|      null|       32|                 1|     null|         36 |            10|
| 36 months|      MORTGAGE|    B|debt_consolidation|   10.33|     129.69|        MN|    Current|      Individual|     4000|   4 years|  133000.0|12.49|          0|    72866|      null|       28|                 0|     null|         36 |             4|
| 36 months|      MORTGAGE|    E|debt_consolidation|    23.4|      77.84|        LA|    Current|      Individual|     2000| 10+ years|   55000.0|36.25|          0|        0|      null|       14|                 0|     null|         36 |            10|
| 60 months|          RENT|    B|debt_consolidation|   12.98|     909.72|        GA|    Current|      Individual|    40000|    1 year|  156000.0| 8.63|          0|     8831|      null|       13|                 0|     null|         60 |             1|
| 36 months|           OWN|    B|debt_consolidation|   10.72|     228.25|        NC|    Current|      Individual|     7000|       n/a|   28100.0|18.75|          0|    36468|      null|        8|                 0|     null|         36 |              |
| 60 months|      MORTGAGE|    C|    small_business|   16.91|     992.17|        NM|    Current|       Joint App|    40000|   8 years|   44000.0| 5.51|          1|        0|      null|       15|                 0|     7.94|         60 |             8|
| 36 months|           OWN|    D|  home_improvement|   17.97|     144.55|        FL|    Current|      Individual|     4000|       n/a|   85000.0| 1.14|          0|        0|      null|       12|                 0|     null|         36 |              |
| 36 months|      MORTGAGE|    C|    small_business|   16.14|     176.14|        OR|    Current|      Individual|     5000|  < 1 year|   78000.0| 8.51|          1|    47787|      null|        9|                 0|     null|         36 |             1|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
only showing top 20 rows

In [60]:
df_sel=df_sel.withColumn("revolutil_cleaned",regexp_extract(col("revol_util"), "\\d+", 0))

In [61]:
df_sel.describe('revol_util','revolutil_cleaned').show()

+-------+------------------+------------------+
|summary|        revol_util| revolutil_cleaned|
+-------+------------------+------------------+
|  count|           2258866|           2258866|
|   mean|50.337696246702926| 49.90740132438135|
| stddev|24.713073320891283|24.715936882582977|
|    min|               0.0|                 0|
|    max|             892.3|                99|
+-------+------------------+------------------+

In [62]:
def fill_avg(df, colname): 
    return df.select(colname).agg(avg(colname))

In [63]:
rev_avg=fill_avg(df_sel,'revolutil_cleaned')

In [65]:
rev_avg=fill_avg(df_sel,'revolutil_cleaned').first()[0]
df_sel=df_sel.withColumn('rev_avg',lit(rev_avg))

In [66]:
df_sel=df_sel.withColumn('revolutil_cleaned',coalesce(col('revolutil_cleaned'),col('rev_avg')))

In [67]:
df_sel.describe('revol_util','revolutil_cleaned').show()

+-------+------------------+------------------+
|summary|        revol_util| revolutil_cleaned|
+-------+------------------+------------------+
|  count|           2258866|           2260668|
|   mean|50.337696246702926| 49.90740132438078|
| stddev|24.713073320891283|24.706084260053252|
|    min|               0.0|                 0|
|    max|             892.3|                99|
+-------+------------------+------------------+

In [68]:
df_sel.count()

2260668

In [69]:
df_sel=df_sel.withColumn("revolutil_cleaned",df_sel["revolutil_cleaned"].cast("double"))

In [70]:
df_sel.describe('revol_util','revolutil_cleaned').show()

+-------+------------------+------------------+
|summary|        revol_util| revolutil_cleaned|
+-------+------------------+------------------+
|  count|           2258866|           2260668|
|   mean|50.337696246702926| 49.90740132438078|
| stddev|24.713073320891283|24.706084260053252|
|    min|               0.0|               0.0|
|    max|             892.3|             892.0|
+-------+------------------+------------------+

In [71]:
df_sel.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_sel.columns]).show()

+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+
|term|home_ownership|grade|purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|rev_avg|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+
|   0|             0|    0|      0|       0|          0|         0|          0|               0|        0|         0|         4|1711|         29|        0|      1802|       29|             70276|  2139962|           0|             0|                0|      0|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+

In [73]:
spark.sql("SELECT * from loan_sel WHERE dti IS null").show()

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
| 60 months|      MORTGAGE|    B|    major_purchase|   10.72|     280.84|        AZ|    Current|       Joint App|    13000|       n/a|       0.0|null|          0|    32720|      26.0|       47|                 0|    33.06|         60 |              |
| 60 months|          RENT|    C|debt_consolidation|   16.91|     446.48|        CA|    Current|       Joint App|    18000|       n/a|       0.0|null|          0|     8546|      35.2|       12|                 0|    17.67|         60 |              |
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.91|     868.15|        NY|    Current|       Joint App|    35000|       n/a|       0.0|null|          0|    27917|      90.1|       39|                 0|     27.3|         60 |              |
| 36 months|          RENT|    C|             other|   13.56|     186.81|        CA|    Current|       Joint App|     5500|       n/a|       0.0|null|          0|     1391|      13.0|       17|                 0|     8.74|         36 |              |
| 36 months|      MORTGAGE|    B|debt_consolidation|   10.33|     152.39|        TX|    Current|       Joint App|     4700|       n/a|       0.0|null|          0|      158|       4.4|       15|                 0|    11.68|         36 |              |
| 36 months|          RENT|    A|debt_consolidation|    7.56|     336.25|        UT|    Current|       Joint App|    10800|       n/a|       0.0|null|          0|    35799|      77.8|       20|                 0|    28.01|         36 |              |
| 36 months|      MORTGAGE|    B|debt_consolidation|   10.72|     195.64|        CA|    Current|       Joint App|     6000| 10+ years|       0.0|null|          1|     6939|      39.0|       22|                 0|    15.06|         36 |            10|
| 36 months|      MORTGAGE|    C|debt_consolidation|   14.47|     172.04|        GA|    Current|       Joint App|     5000|       n/a|       0.0|null|          1|     4481|      86.2|       15|                 0|    12.79|         36 |              |
| 36 months|          RENT|    E|debt_consolidation|    23.4|    1556.75|        NY|    Current|       Joint App|    40000|       n/a|       0.0|null|          0|    38600|      93.9|       27|                 0|     8.05|         36 |              |
| 36 months|          RENT|    D|       credit_card|   18.94|     1281.9|        CA|    Current|       Joint App|    35000|       n/a|       0.0|null|          0|    25126|      60.5|       15|                 0|    24.22|         36 |              |
| 36 months|      MORTGAGE|    A|       credit_card|    7.56|     622.68|        NJ|    Current|       Joint App|    20000|       n/a|       0.0|null|          0|    46855|      65.2|       19|                 0|    20.04|         36 |              |
| 60 months|      MORTGAGE|    D|debt_consolidation|   17.97|     253.78|        CO|    Current|       Joint App|    10000|       n/a|       0.0|null|          3|     5318|      76.0|       26|                 0|    19.01|         60 |              |
| 36 months|      MORTGAGE|    B|debt_consolidation|   11.31|     986.58|        TN|    Current|       Joint App|    30000|       n/a|       0.0|null|          0|    27735|      75.8|       19|                 0|    12.75|         36 |              |
| 36 months|      MORTGAGE|    E|debt_consolidation|   25.34|     1597.6|        KS|    Current|       Joint App|    40000|       n/a|       0.0|null|          0|    57423|      97.5|        9|                 0|    22.61|         36 |              |
| 60 months|      MORTGAGE|    D|debt_consolidation|   20.89|     777.36|        AZ|    Current|       Joint App|    28800|       n/a|       0.0|null|          0|        0|       0.0|       30|                 0|    24.89|         60 |              |
| 36 months|      MORTGAGE|    A|             other|    7.56|     217.94|        CA|    Current|       Joint App|     7000|       n/a|       0.0|null|          0|      813|       3.7|       16|                 0|      0.6|         36 |              |
| 36 months|          RENT|    B|debt_consolidation|    11.8|     397.43|        CA|    Current|       Joint App|    12000|       n/a|       0.0|null|          0|     7729|     100.4|        9|                 0|    15.34|         36 |              |
| 60 months|      MORTGAGE|    C|debt_consolidation|   15.02|     238.01|        FL|    Current|       Joint App|    10000|       n/a|       0.0|null|          0|    39104|      98.3|       10|                 0|    23.69|         60 |              |
| 60 months|      MORTGAGE|    B|       credit_card|   10.72|     777.71|        SC|    Current|       Joint App|    36000|       n/a|       0.0|null|          0|     5205|      13.7|        9|                 0|    17.29|         60 |              |
| 60 months|      MORTGAGE|    D|debt_consolidation|   18.94|     414.53|        NY|    Current|       Joint App|    16000|       n/a|       0.0|null|          0|    56437|      49.5|       54|                 0|    29.25|         60 |              |
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+
only showing top 20 rows

In [75]:
spark.sql("SELECT application_type, dti, dti_joint FROM loan WHERE dti IS null").show()

+----------------+----+---------+
|application_type| dti|dti_joint|
+----------------+----+---------+
|       Joint App|null|    33.06|
|       Joint App|null|    17.67|
|       Joint App|null|     27.3|
|       Joint App|null|     8.74|
|       Joint App|null|    11.68|
|       Joint App|null|    28.01|
|       Joint App|null|    15.06|
|       Joint App|null|    12.79|
|       Joint App|null|     8.05|
|       Joint App|null|    24.22|
|       Joint App|null|    20.04|
|       Joint App|null|    19.01|
|       Joint App|null|    12.75|
|       Joint App|null|    22.61|
|       Joint App|null|    24.89|
|       Joint App|null|      0.6|
|       Joint App|null|    15.34|
|       Joint App|null|    23.69|
|       Joint App|null|    17.29|
|       Joint App|null|    29.25|
+----------------+----+---------+
only showing top 20 rows

In [76]:
df_sel=df_sel.withColumn("dti_cleaned",coalesce(col("dti"),col("dti_joint")))

In [77]:
df_sel.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_sel.columns]).show()

+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+-----------+
|term|home_ownership|grade|purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|rev_avg|dti_cleaned|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+-----------+
|   0|             0|    0|      0|       0|          0|         0|          0|               0|        0|         0|         4|1711|         29|        0|      1802|       29|             70276|  2139962|           0|             0|                0|      0|          0|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+-----------+

In [79]:
spark.sql("SELECT loan_status, COUNT(*) FROM loan_sel GROUP BY loan_status").show()

# Need to take care of default and two does not meet stuff. May be take a look at kaggle kernel to get idea what to do.
# Temporary fixing by dumping as good loans.

+--------------------+--------+
|         loan_status|count(1)|
+--------------------+--------+
|          Fully Paid| 1041952|
|             Default|      31|
|     In Grace Period|    8952|
|Does not meet the...|    1988|
|         Charged Off|  261655|
|  Late (31-120 days)|   21897|
|             Current|  919695|
|Does not meet the...|     761|
|   Late (16-30 days)|    3737|
+--------------------+--------+

In [80]:
df_sel.where(df_sel.loan_status.isin(["Late (31-120 days)", "Charged Off", "In Grace Period","Late (16-30 days)"])).show()

+----------+--------------+-----+------------------+--------+-----------+----------+------------------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|       loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|
+----------+--------------+-----+------------------+--------+-----------+----------+------------------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+
| 36 months|      MORTGAGE|    A|debt_consolidation|    8.19|     659.13|        PA|Late (31-120 days)|      Individual|    20975|   2 years|  165000.0|24.27|          0|     4210|      16.6|       21|                 0|     null|         36 |             2|             16.0|49.90740132438135|      24.27|
| 36 months|          RENT|    B|          vacation|    11.8|     662.38|        NC|Late (31-120 days)|      Individual|    20000|   3 years|   50000.0| 9.18|          0|    16576|      13.9|       26|                 0|     null|         36 |             3|             13.0|49.90740132438135|       9.18|
| 36 months|           OWN|    E|             other|   26.31|     368.15|        IN|Late (31-120 days)|      Individual|     9100|   3 years|   62000.0|13.38|          0|     4165|      12.1|       23|                 0|     null|         36 |             3|             12.0|49.90740132438135|      13.38|
| 36 months|      MORTGAGE|    E|debt_consolidation|   25.34|     140.79|        GA|Late (31-120 days)|      Individual|     3525| 10+ years|  150000.0|14.25|          0|     8591|      31.1|       15|                 0|     null|         36 |            10|             31.0|49.90740132438135|      14.25|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.91|     272.85|        CA|   In Grace Period|      Individual|    11000| 10+ years|   97000.0|28.79|          0|    30642|      31.7|       32|                 0|     null|         60 |            10|             31.0|49.90740132438135|      28.79|
| 36 months|      MORTGAGE|    C|debt_consolidation|   14.47|     240.85|        NJ|   In Grace Period|      Individual|     7000|   8 years|   35000.0|23.08|          0|     5831|      36.4|       16|                 0|     null|         36 |             8|             36.0|49.90740132438135|      23.08|
| 36 months|          RENT|    C|debt_consolidation|   13.56|     390.59|        MT|Late (31-120 days)|      Individual|    11500|   8 years|   33000.0| 2.55|          0|     2600|      20.0|       12|                 0|     null|         36 |             8|             20.0|49.90740132438135|       2.55|
| 36 months|      MORTGAGE|    A|       credit_card|    6.46|     245.05|        WA|       Charged Off|      Individual|     8000| 10+ years|   55000.0|17.83|          0|    10999|      29.1|       49|                 0|     null|         36 |            10|             29.0|49.90740132438135|      17.83|
| 36 months|          RENT|    A|debt_consolidation|    7.02|      679.5|        VA|Late (31-120 days)|      Individual|    22000|   3 years|  100000.0|15.35|          0|     7310|      47.2|       26|                 0|     null|         36 |             3|             47.0|49.90740132438135|      15.35|
| 60 months|          RENT|    E|debt_consolidation|   26.31|     903.73|        TX|Late (31-120 days)|      Individual|    30000|   2 years|   70000.0|39.16|          0|    24961|      38.5|       37|                 0|     null|         60 |             2|             38.0|49.90740132438135|      39.16|
| 36 months|          RENT|    E|  home_improvement|   26.31|     384.34|        NV|Late (31-120 days)|      Individual|     9500|   5 years|   50000.0|16.66|          0|     4523|       8.2|       18|                 0|     null|         36 |             5|              8.0|49.90740132438135|      16.66|
| 36 months|      MORTGAGE|    C|  home_improvement|   16.14|     352.27|        FL|   In Grace Period|      Individual|    10000| 10+ years|   82500.0|16.33|          4|     9529|      43.1|       34|                 2|     null|         36 |            10|             43.0|49.90740132438135|      16.33|
| 36 months|      MORTGAGE|    C|debt_consolidation|   16.14|     1197.7|        NY|   In Grace Period|       Joint App|    34000|  < 1 year|   20000.0|54.86|          0|    33867|      59.6|       19|                 0|    12.59|         36 |             1|             59.0|49.90740132438135|      54.86|
| 36 months|          RENT|    C|debt_consolidation|   13.56|    1018.93|        MD|   In Grace Period|      Individual|    30000| 10+ years|   85000.0| 2.91|          1|    12533|      24.9|       21|                 0|     null|         36 |            10|             24.0|49.90740132438135|       2.91|
| 36 months|           OWN|    C|debt_consolidation|   13.56|     380.41|        TX|   In Grace Period|      Individual|    11200|   4 years|   24000.0| 15.7|          0|     1837|      42.7|        7|                 0|     null|         36 |             4|             42.0|49.90740132438135|       15.7|
| 36 months|      MORTGAGE|    B|    major_purchase|    11.8|     160.63|        VA|   In Grace Period|      Individual|     4850| 10+ years|   84567.0|  8.6|          1|     6664|      25.2|       20|                 0|     null|         36 |            10|             25.0|49.90740132438135|        8.6|
| 60 months|          RENT|    D|       credit_card|   17.97|     609.06|        ID|   In Grace Period|      Individual|    24000|   2 years|   60000.0|31.78|          0|    25161|      77.4|       23|                 0|     null|         60 |             2|             77.0|49.90740132438135|      31.78|
| 36 months|          RENT|    A|debt_consolidation|    6.46|     918.93|        TX|   In Grace Period|      Individual|    30000|  < 1 year|  300000.0| 3.95|          0|    35509|      88.8|       11|                 0|     null|         36 |             1|             88.0|49.90740132438135|       3.95|
| 36 months|      MORTGAGE|    C|debt_consolidation|   15.02|     554.81|        NY| Late (16-30 days)|      Individual|    16000|       n/a|   40000.0|17.43|          0|    17493|      40.8|       24|                 0|     null|         36 |              |             40.0|49.90740132438135|      17.43|
| 36 months|          RENT|    E|               car|   27.27|     303.18|        FL|Late (31-120 days)|      Individual|     7400|   5 years|   70000.0|  1.8|          0|     2460|      12.6|        7|                 0|     null|         36 |             5|             12.0|49.90740132438135|        1.8|
+----------+--------------+-----+------------------+--------+-----------+----------+------------------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+
only showing top 20 rows

In [82]:
df_sel=df_sel.withColumn(
    "bad_loan", 
    when(df_sel.loan_status.isin([
        "Late (31-120 days)", "Charged Off", "In Grace Period","Late (16-30 days)"
    ]),
         'Yes'
                    ).otherwise('No'))

In [83]:
df_sel.groupBy('bad_loan').count().show() # can use sql as well but need to dump into temp table first

+--------+-------+
|bad_loan|  count|
+--------+-------+
|      No|1964427|
|     Yes| 296241|
+--------+-------+

In [84]:
df_sel.filter(df_sel.bad_loan == 'Yes').show()

+----------+--------------+-----+------------------+--------+-----------+----------+------------------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|       loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|bad_loan|
+----------+--------------+-----+------------------+--------+-----------+----------+------------------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
| 36 months|      MORTGAGE|    A|debt_consolidation|    8.19|     659.13|        PA|Late (31-120 days)|      Individual|    20975|   2 years|  165000.0|24.27|          0|     4210|      16.6|       21|                 0|     null|         36 |             2|             16.0|49.90740132438135|      24.27|     Yes|
| 36 months|          RENT|    B|          vacation|    11.8|     662.38|        NC|Late (31-120 days)|      Individual|    20000|   3 years|   50000.0| 9.18|          0|    16576|      13.9|       26|                 0|     null|         36 |             3|             13.0|49.90740132438135|       9.18|     Yes|
| 36 months|           OWN|    E|             other|   26.31|     368.15|        IN|Late (31-120 days)|      Individual|     9100|   3 years|   62000.0|13.38|          0|     4165|      12.1|       23|                 0|     null|         36 |             3|             12.0|49.90740132438135|      13.38|     Yes|
| 36 months|      MORTGAGE|    E|debt_consolidation|   25.34|     140.79|        GA|Late (31-120 days)|      Individual|     3525| 10+ years|  150000.0|14.25|          0|     8591|      31.1|       15|                 0|     null|         36 |            10|             31.0|49.90740132438135|      14.25|     Yes|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.91|     272.85|        CA|   In Grace Period|      Individual|    11000| 10+ years|   97000.0|28.79|          0|    30642|      31.7|       32|                 0|     null|         60 |            10|             31.0|49.90740132438135|      28.79|     Yes|
| 36 months|      MORTGAGE|    C|debt_consolidation|   14.47|     240.85|        NJ|   In Grace Period|      Individual|     7000|   8 years|   35000.0|23.08|          0|     5831|      36.4|       16|                 0|     null|         36 |             8|             36.0|49.90740132438135|      23.08|     Yes|
| 36 months|          RENT|    C|debt_consolidation|   13.56|     390.59|        MT|Late (31-120 days)|      Individual|    11500|   8 years|   33000.0| 2.55|          0|     2600|      20.0|       12|                 0|     null|         36 |             8|             20.0|49.90740132438135|       2.55|     Yes|
| 36 months|      MORTGAGE|    A|       credit_card|    6.46|     245.05|        WA|       Charged Off|      Individual|     8000| 10+ years|   55000.0|17.83|          0|    10999|      29.1|       49|                 0|     null|         36 |            10|             29.0|49.90740132438135|      17.83|     Yes|
| 36 months|          RENT|    A|debt_consolidation|    7.02|      679.5|        VA|Late (31-120 days)|      Individual|    22000|   3 years|  100000.0|15.35|          0|     7310|      47.2|       26|                 0|     null|         36 |             3|             47.0|49.90740132438135|      15.35|     Yes|
| 60 months|          RENT|    E|debt_consolidation|   26.31|     903.73|        TX|Late (31-120 days)|      Individual|    30000|   2 years|   70000.0|39.16|          0|    24961|      38.5|       37|                 0|     null|         60 |             2|             38.0|49.90740132438135|      39.16|     Yes|
| 36 months|          RENT|    E|  home_improvement|   26.31|     384.34|        NV|Late (31-120 days)|      Individual|     9500|   5 years|   50000.0|16.66|          0|     4523|       8.2|       18|                 0|     null|         36 |             5|              8.0|49.90740132438135|      16.66|     Yes|
| 36 months|      MORTGAGE|    C|  home_improvement|   16.14|     352.27|        FL|   In Grace Period|      Individual|    10000| 10+ years|   82500.0|16.33|          4|     9529|      43.1|       34|                 2|     null|         36 |            10|             43.0|49.90740132438135|      16.33|     Yes|
| 36 months|      MORTGAGE|    C|debt_consolidation|   16.14|     1197.7|        NY|   In Grace Period|       Joint App|    34000|  < 1 year|   20000.0|54.86|          0|    33867|      59.6|       19|                 0|    12.59|         36 |             1|             59.0|49.90740132438135|      54.86|     Yes|
| 36 months|          RENT|    C|debt_consolidation|   13.56|    1018.93|        MD|   In Grace Period|      Individual|    30000| 10+ years|   85000.0| 2.91|          1|    12533|      24.9|       21|                 0|     null|         36 |            10|             24.0|49.90740132438135|       2.91|     Yes|
| 36 months|           OWN|    C|debt_consolidation|   13.56|     380.41|        TX|   In Grace Period|      Individual|    11200|   4 years|   24000.0| 15.7|          0|     1837|      42.7|        7|                 0|     null|         36 |             4|             42.0|49.90740132438135|       15.7|     Yes|
| 36 months|      MORTGAGE|    B|    major_purchase|    11.8|     160.63|        VA|   In Grace Period|      Individual|     4850| 10+ years|   84567.0|  8.6|          1|     6664|      25.2|       20|                 0|     null|         36 |            10|             25.0|49.90740132438135|        8.6|     Yes|
| 60 months|          RENT|    D|       credit_card|   17.97|     609.06|        ID|   In Grace Period|      Individual|    24000|   2 years|   60000.0|31.78|          0|    25161|      77.4|       23|                 0|     null|         60 |             2|             77.0|49.90740132438135|      31.78|     Yes|
| 36 months|          RENT|    A|debt_consolidation|    6.46|     918.93|        TX|   In Grace Period|      Individual|    30000|  < 1 year|  300000.0| 3.95|          0|    35509|      88.8|       11|                 0|     null|         36 |             1|             88.0|49.90740132438135|       3.95|     Yes|
| 36 months|      MORTGAGE|    C|debt_consolidation|   15.02|     554.81|        NY| Late (16-30 days)|      Individual|    16000|       n/a|   40000.0|17.43|          0|    17493|      40.8|       24|                 0|     null|         36 |              |             40.0|49.90740132438135|      17.43|     Yes|
| 36 months|          RENT|    E|               car|   27.27|     303.18|        FL|Late (31-120 days)|      Individual|     7400|   5 years|   70000.0|  1.8|          0|     2460|      12.6|        7|                 0|     null|         36 |             5|             12.0|49.90740132438135|        1.8|     Yes|
+----------+--------------+-----+------------------+--------+-----------+----------+------------------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
only showing top 20 rows

In [85]:
df_sel.printSchema()

root
 |-- term: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- dti: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: double (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- dti_joint: double (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)
 |-- revolutil_cleaned: double (nullable = true)
 |-- rev_avg: double (nullable = false)
 |-- dti_cleaned: double (nullable = true)
 |-- bad_loan: string (nullable = false)

In [86]:
df_sel_final=df_sel.drop('revol_util','dti','dti_joint', 'rev_avg', 'term')

In [87]:
df_sel_final.printSchema()

root
 |-- home_ownership: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- num_tl_90g_dpd_24m: integer (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)
 |-- revolutil_cleaned: double (nullable = true)
 |-- dti_cleaned: double (nullable = true)
 |-- bad_loan: string (nullable = false)

In [88]:
df_sel_final.stat.crosstab('bad_loan', 'grade').show()

+--------------+------+------+------+------+-----+-----+----+
|bad_loan_grade|     A|     B|     C|     D|    E|    F|   G|
+--------------+------+------+------+------+-----+-----+----+
|            No|417012|604890|554630|257204|96920|26475|7296|
|           Yes| 16015| 58667| 95423| 67220|38719|15325|4872|
+--------------+------+------+------+------+-----+-----+----+

In [89]:
df_sel.describe('dti_cleaned').show()

+-------+------------------+
|summary|       dti_cleaned|
+-------+------------------+
|  count|           2260668|
|   mean|18.824178357899857|
| stddev|14.179782290150628|
|    min|              -1.0|
|    max|             999.0|
+-------+------------------+

In [90]:
df_sel.filter(df_sel.dti_cleaned > 100).show()

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+------+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc|   dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|bad_loan|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+------+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
| 36 months|      MORTGAGE|    B|             other|   11.31|     328.86|        CA|    Current|       Joint App|    10000|       n/a|   10020.0|123.47|          0|    20857|      94.8|        8|                 0|    31.59|         36 |              |             94.0|49.90740132438135|     123.47|      No|
| 36 months|      MORTGAGE|    B|debt_consolidation|    11.8|      99.36|        UT|    Current|       Joint App|     3000|  < 1 year|    3600.0|149.33|          1|    17695|      40.9|       22|                 0|    14.46|         36 |             1|             40.0|49.90740132438135|     149.33|      No|
| 60 months|      MORTGAGE|    D|debt_consolidation|   19.92|      317.4|        CO|    Current|       Joint App|    12000|  < 1 year|    7500.0|173.92|          1|    38472|      63.5|       24|                 0|     26.9|         60 |             1|             63.0|49.90740132438135|     173.92|      No|
| 36 months|      MORTGAGE|    A|       credit_card|    6.46|     627.94|        NJ|    Current|       Joint App|    20500|  < 1 year|    2000.0|292.25|          0|    22494|      29.9|       26|                 0|    11.63|         36 |             1|             29.0|49.90740132438135|     292.25|      No|
| 60 months|      MORTGAGE|    B|debt_consolidation|    11.8|     221.44|        OH|    Current|       Joint App|    10000|       n/a|    8280.0|101.45|          0|    16064|      23.5|       30|                 0|    30.45|         60 |              |             23.0|49.90740132438135|     101.45|      No|
| 36 months|      MORTGAGE|    A|             other|    6.46|     153.16|        CA|    Current|       Joint App|     5000|   8 years|   45000.0|106.35|          0|    12376|      33.4|       11|                 0|    18.08|         36 |             8|             33.0|49.90740132438135|     106.35|      No|
| 60 months|          RENT|    B|debt_consolidation|    11.8|     553.59|        NJ|    Current|       Joint App|    25000|       n/a|   20766.0|127.32|          0|    14627|      30.6|       26|                 0|    28.73|         60 |              |             30.0|49.90740132438135|     127.32|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   18.94|     366.26|        CA|    Current|       Joint App|    10000|   2 years|    7500.0|342.24|          0|    14307|      69.8|       32|                 0|    31.75|         36 |             2|             69.0|49.90740132438135|     342.24|      No|
| 60 months|      MORTGAGE|    B|debt_consolidation|   11.31|      875.9|        MN|    Current|       Joint App|    40000|  < 1 year|   10000.0| 146.8|          0|    35029|      33.0|       18|                 0|    25.52|         60 |             1|             33.0|49.90740132438135|      146.8|      No|
| 36 months|          RENT|    C|debt_consolidation|   16.91|     512.76|        GA|    Current|       Joint App|    14400| 10+ years|   12000.0| 111.9|          0|     6613|      46.2|       16|                 0|    22.59|         36 |            10|             46.0|49.90740132438135|      111.9|      No|
| 36 months|      MORTGAGE|    C|    major_purchase|   16.14|     105.68|        KS|    Current|       Joint App|     3000|       n/a|   13488.0|103.11|          0|     5449|      28.5|       25|                 0|    18.84|         36 |              |             28.0|49.90740132438135|     103.11|      No|
| 36 months|      MORTGAGE|    B|debt_consolidation|   10.72|    1043.41|        PA|    Current|       Joint App|    32000|       n/a|   14000.0|100.09|          0|    31387|      64.2|       18|                 0|     29.0|         36 |              |             64.0|49.90740132438135|     100.09|      No|
| 36 months|          RENT|    E|          vacation|   24.37|      78.86|        VA|    Current|       Joint App|     2000|   6 years|    3500.0|358.76|          0|    11133|      95.2|       20|                 0|    19.75|         36 |             6|             95.0|49.90740132438135|     358.76|      No|
| 36 months|      MORTGAGE|    B|       credit_card|    11.8|     341.13|        TN|    Current|       Joint App|    10300|   6 years|   22000.0|110.64|          0|    18664|      79.1|       19|                 0|    38.75|         36 |             6|             79.0|49.90740132438135|     110.64|      No|
| 60 months|      MORTGAGE|    E|debt_consolidation|   27.27|     613.94|        TX|    Current|       Joint App|    20000|       n/a|   38000.0|111.15|          2|     1694|       8.3|       24|                 0|    32.14|         60 |              |              8.0|49.90740132438135|     111.15|      No|
| 60 months|      MORTGAGE|    A|       credit_card|    8.19|      814.7|        VA|    Current|       Joint App|    40000|   7 years|    5000.0|503.61|          0|    54756|      45.1|       43|                 0|    18.73|         60 |             7|             45.0|49.90740132438135|     503.61|      No|
| 60 months|      MORTGAGE|    B|debt_consolidation|    11.8|     775.03|        LA|    Current|       Joint App|    35000|   3 years|   30000.0|139.88|          1|    22998|      49.1|       21|                 0|    32.66|         60 |             3|             49.0|49.90740132438135|     139.88|      No|
| 36 months|           OWN|    D|       credit_card|   19.92|    1484.92|        CA|    Current|       Joint App|    40000|  < 1 year|   15000.0| 189.3|          0|    72154|      56.7|       36|                 0|    18.08|         36 |             1|             56.0|49.90740132438135|      189.3|      No|
| 60 months|          RENT|    C|       credit_card|   13.56|     253.45|        OR|    Current|       Joint App|    11000|       n/a|    9600.0| 111.5|          0|    10794|      97.2|        6|                 0|    22.04|         60 |              |             97.0|49.90740132438135|      111.5|      No|
| 60 months|      MORTGAGE|    B|debt_consolidation|   12.98|      796.0|        CA|    Current|       Joint App|    35000|    1 year|   38000.0|125.05|          0|    40646|      82.1|       21|                 0|    25.39|         60 |             1|             82.0|49.90740132438135|     125.05|      No|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+------+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
only showing top 20 rows

In [92]:
df_sel.filter(df_sel.dti_cleaned == -1).show()

# Maybe remove this two rows having dti = -1 which is not possible.

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|bad_loan|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
| 36 months|      MORTGAGE|    B|debt_consolidation|    9.75|     482.25|        OR| Fully Paid|      Individual|    15000|   5 years|   94000.0|-1.0|          0|    15445|      45.8|       24|                 0|     null|         36 |             5|             45.0|49.90740132438135|       -1.0|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   13.49|     391.08|        IN| Fully Paid|       Joint App|    17000| 10+ years|   75000.0|-1.0|          1|    44587|      78.2|       34|                 0|    22.27|         60 |            10|             78.0|49.90740132438135|       -1.0|      No|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+

In [93]:
permanent_table_name = "lc_loan_data"

df_sel.write.format("parquet").saveAsTable(permanent_table_name) # dumping as real table

In [95]:
spark.sql("SELECT * FROM lc_loan_data").show()

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|bad_loan|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
| 36 months|          RENT|    C|debt_consolidation|   13.56|      84.92|        NY|    Current|      Individual|     2500| 10+ years|   55000.0|18.24|          0|     4341|      10.3|       34|                 0|     null|         36 |            10|             10.0|49.90740132438135|      18.24|      No|
| 60 months|      MORTGAGE|    D|debt_consolidation|   18.94|     777.23|        LA|    Current|      Individual|    30000| 10+ years|   90000.0|26.52|          0|    12315|      24.2|       44|                 0|     null|         60 |            10|             24.0|49.90740132438135|      26.52|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|     180.69|        MI|    Current|      Individual|     5000|   6 years|   59280.0|10.51|          0|     4599|      19.1|       13|                 0|     null|         36 |             6|             19.0|49.90740132438135|      10.51|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   18.94|     146.51|        WA|    Current|      Individual|     4000| 10+ years|   92000.0|16.74|          0|     5468|      78.1|       13|                 0|     null|         36 |            10|             78.0|49.90740132438135|      16.74|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.14|     731.78|        MD|    Current|      Individual|    30000| 10+ years|   57250.0|26.35|          0|      829|       3.6|       26|                 0|     null|         60 |            10|              3.0|49.90740132438135|      26.35|      No|
| 36 months|      MORTGAGE|    C|       credit_card|   15.02|     192.45|        IN|    Current|      Individual|     5550| 10+ years|  152500.0|37.94|          0|    53854|      48.1|       44|                 0|     null|         36 |            10|             48.0|49.90740132438135|      37.94|      No|
| 36 months|          RENT|    D|debt_consolidation|   17.97|      72.28|        IL|    Current|      Individual|     2000|   4 years|   51000.0|  2.4|          0|        0|      null|        9|                 0|     null|         36 |             4|49.90740132438135|49.90740132438135|        2.4|      No|
| 36 months|          RENT|    C|       credit_card|   13.56|     203.79|        IN|    Current|      Individual|     6000| 10+ years|   65000.0| 30.1|          0|    38476|      69.3|       37|                 0|     null|         36 |            10|             69.0|49.90740132438135|       30.1|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|     180.69|        FL|    Current|      Individual|     5000| 10+ years|   53580.0|21.16|          0|     8018|      35.2|       38|                 0|     null|         36 |            10|             35.0|49.90740132438135|      21.16|      No|
| 36 months|           OWN|    C|debt_consolidation|   14.47|     206.44|        CT|    Current|      Individual|     6000|  < 1 year|  300000.0|17.43|          1|    65950|      49.8|       58|                 0|     null|         36 |             1|             49.0|49.90740132438135|      17.43|      No|
| 36 months|      MORTGAGE|    D|       credit_card|   22.35|     211.05|        LA|    Current|      Individual|     5500|  < 1 year|   50000.0|15.94|          1|     4529|      94.4|       13|                 1|     null|         36 |             1|             94.0|49.90740132438135|      15.94|      No|
| 60 months|      MORTGAGE|    B|       credit_card|   11.31|     613.13|        GA|    Current|      Individual|    28000|   2 years|   70000.0|22.01|          0|    56152|      55.9|       23|                 0|     null|         60 |             2|             55.0|49.90740132438135|      22.01|      No|
| 36 months|      MORTGAGE|    A|       credit_card|    8.19|     351.95|        UT|    Current|      Individual|    11200| 10+ years|   65000.0| 23.6|          0|     8836|      16.6|       27|                 0|     null|         36 |            10|             16.0|49.90740132438135|       23.6|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|      234.9|        NC|    Current|      Individual|     6500|   4 years|  154000.0|28.78|          2|    23754|      60.4|       41|                 1|     null|         36 |             4|             60.0|49.90740132438135|      28.78|      No|
| 60 months|      MORTGAGE|    B|debt_consolidation|   12.98|     500.35|        KY|    Current|      Individual|    22000| 10+ years|   65000.0|11.19|          0|      134|       0.5|       16|                 0|     null|         60 |            10|              0.0|49.90740132438135|      11.19|      No|
| 36 months|      MORTGAGE|    C|debt_consolidation|   16.14|      123.3|        IL|    Current|       Joint App|     3500| 10+ years|   80000.0|13.63|          0|     8952|      58.5|       27|                 0|    10.77|         36 |            10|             58.0|49.90740132438135|      13.63|      No|
| 36 months|      MORTGAGE|    B|             house|   12.98|      235.8|        OH|    Current|      Individual|     7000|   4 years|  102500.0| 15.2|          0|     1057|       7.2|       21|                 0|     null|         36 |             4|              7.0|49.90740132438135|       15.2|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.91|     620.11|        OH|    Current|       Joint App|    25000| 10+ years|   23878.0| 6.26|          0|     3044|      54.4|        8|                 0|    18.91|         60 |            10|             54.0|49.90740132438135|       6.26|      No|
| 60 months|      MORTGAGE|    D|       credit_card|   20.89|     431.87|        AR|    Current|      Individual|    16000|   4 years|  120000.0|27.57|          1|    18826|      82.2|       37|                 0|     null|         60 |             4|             82.0|49.90740132438135|      27.57|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   14.47|     305.67|        OK|    Current|      Individual|    13000| 10+ years|   75000.0|26.16|          0|    15551|      58.2|       13|                 0|     null|         60 |            10|             58.0|49.90740132438135|      26.16|      No|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
only showing top 20 rows

In [96]:
lc_df = spark.table('lc_loan_data') # Converting to spark dataframe 
lc_df.show()

+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|      term|home_ownership|grade|           purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc|  dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|bad_loan|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
| 36 months|          RENT|    C|debt_consolidation|   13.56|      84.92|        NY|    Current|      Individual|     2500| 10+ years|   55000.0|18.24|          0|     4341|      10.3|       34|                 0|     null|         36 |            10|             10.0|49.90740132438135|      18.24|      No|
| 60 months|      MORTGAGE|    D|debt_consolidation|   18.94|     777.23|        LA|    Current|      Individual|    30000| 10+ years|   90000.0|26.52|          0|    12315|      24.2|       44|                 0|     null|         60 |            10|             24.0|49.90740132438135|      26.52|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|     180.69|        MI|    Current|      Individual|     5000|   6 years|   59280.0|10.51|          0|     4599|      19.1|       13|                 0|     null|         36 |             6|             19.0|49.90740132438135|      10.51|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   18.94|     146.51|        WA|    Current|      Individual|     4000| 10+ years|   92000.0|16.74|          0|     5468|      78.1|       13|                 0|     null|         36 |            10|             78.0|49.90740132438135|      16.74|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.14|     731.78|        MD|    Current|      Individual|    30000| 10+ years|   57250.0|26.35|          0|      829|       3.6|       26|                 0|     null|         60 |            10|              3.0|49.90740132438135|      26.35|      No|
| 36 months|      MORTGAGE|    C|       credit_card|   15.02|     192.45|        IN|    Current|      Individual|     5550| 10+ years|  152500.0|37.94|          0|    53854|      48.1|       44|                 0|     null|         36 |            10|             48.0|49.90740132438135|      37.94|      No|
| 36 months|          RENT|    D|debt_consolidation|   17.97|      72.28|        IL|    Current|      Individual|     2000|   4 years|   51000.0|  2.4|          0|        0|      null|        9|                 0|     null|         36 |             4|49.90740132438135|49.90740132438135|        2.4|      No|
| 36 months|          RENT|    C|       credit_card|   13.56|     203.79|        IN|    Current|      Individual|     6000| 10+ years|   65000.0| 30.1|          0|    38476|      69.3|       37|                 0|     null|         36 |            10|             69.0|49.90740132438135|       30.1|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|     180.69|        FL|    Current|      Individual|     5000| 10+ years|   53580.0|21.16|          0|     8018|      35.2|       38|                 0|     null|         36 |            10|             35.0|49.90740132438135|      21.16|      No|
| 36 months|           OWN|    C|debt_consolidation|   14.47|     206.44|        CT|    Current|      Individual|     6000|  < 1 year|  300000.0|17.43|          1|    65950|      49.8|       58|                 0|     null|         36 |             1|             49.0|49.90740132438135|      17.43|      No|
| 36 months|      MORTGAGE|    D|       credit_card|   22.35|     211.05|        LA|    Current|      Individual|     5500|  < 1 year|   50000.0|15.94|          1|     4529|      94.4|       13|                 1|     null|         36 |             1|             94.0|49.90740132438135|      15.94|      No|
| 60 months|      MORTGAGE|    B|       credit_card|   11.31|     613.13|        GA|    Current|      Individual|    28000|   2 years|   70000.0|22.01|          0|    56152|      55.9|       23|                 0|     null|         60 |             2|             55.0|49.90740132438135|      22.01|      No|
| 36 months|      MORTGAGE|    A|       credit_card|    8.19|     351.95|        UT|    Current|      Individual|    11200| 10+ years|   65000.0| 23.6|          0|     8836|      16.6|       27|                 0|     null|         36 |            10|             16.0|49.90740132438135|       23.6|      No|
| 36 months|      MORTGAGE|    D|debt_consolidation|   17.97|      234.9|        NC|    Current|      Individual|     6500|   4 years|  154000.0|28.78|          2|    23754|      60.4|       41|                 1|     null|         36 |             4|             60.0|49.90740132438135|      28.78|      No|
| 60 months|      MORTGAGE|    B|debt_consolidation|   12.98|     500.35|        KY|    Current|      Individual|    22000| 10+ years|   65000.0|11.19|          0|      134|       0.5|       16|                 0|     null|         60 |            10|              0.0|49.90740132438135|      11.19|      No|
| 36 months|      MORTGAGE|    C|debt_consolidation|   16.14|      123.3|        IL|    Current|       Joint App|     3500| 10+ years|   80000.0|13.63|          0|     8952|      58.5|       27|                 0|    10.77|         36 |            10|             58.0|49.90740132438135|      13.63|      No|
| 36 months|      MORTGAGE|    B|             house|   12.98|      235.8|        OH|    Current|      Individual|     7000|   4 years|  102500.0| 15.2|          0|     1057|       7.2|       21|                 0|     null|         36 |             4|              7.0|49.90740132438135|       15.2|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   16.91|     620.11|        OH|    Current|       Joint App|    25000| 10+ years|   23878.0| 6.26|          0|     3044|      54.4|        8|                 0|    18.91|         60 |            10|             54.0|49.90740132438135|       6.26|      No|
| 60 months|      MORTGAGE|    D|       credit_card|   20.89|     431.87|        AR|    Current|      Individual|    16000|   4 years|  120000.0|27.57|          1|    18826|      82.2|       37|                 0|     null|         60 |             4|             82.0|49.90740132438135|      27.57|      No|
| 60 months|      MORTGAGE|    C|debt_consolidation|   14.47|     305.67|        OK|    Current|      Individual|    13000| 10+ years|   75000.0|26.16|          0|    15551|      58.2|       13|                 0|     null|         60 |            10|             58.0|49.90740132438135|      26.16|      No|
+----------+--------------+-----+------------------+--------+-----------+----------+-----------+----------------+---------+----------+----------+-----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
only showing top 20 rows

In [97]:
lc_df.describe().show()

+-------+----------+--------------+-------+-------+-----------------+-----------------+----------+------------------+----------------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+--------+
|summary|      term|home_ownership|  grade|purpose|         int_rate|      installment|addr_state|       loan_status|application_type|         loan_amnt|emp_length|        annual_inc|               dti|       delinq_2yrs|         revol_bal|        revol_util|         total_acc|num_tl_90g_dpd_24m|        dti_joint|      term_cleaned|    emplen_cleaned| revolutil_cleaned|          rev_avg|       dti_cleaned|bad_loan|
+-------+----------+--------------+-------+-------+-----------------+-----------------+----------+------------------+----------------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+--------+
|  count|   2260668|       2260668|2260668|2260668|          2260668|          2260668|   2260668|           2260668|         2260668|           2260668|   2260668|           2260664|           2258957|           2260639|           2260668|           2258866|           2260639|           2190392|           120706|           2260668|           2260668|           2260668|          2260668|           2260668| 2260668|
|   mean|      null|          null|   null|   null|13.09291294419326|445.8076459263479|      null|              null|            null|15046.931227849467|      null| 77992.42868706738| 18.82419643667267|0.3068791611575311|16658.458077877865|50.337696246702926|24.162552269513178|0.0829376659520305|19.25181705963253| 42.91031854301472| 6.021240811993409| 49.90740132438078|49.90740132352951|18.824178357899857|    null|
| stddev|      null|          null|   null|   null|4.832114232872322|267.1737249936559|      null|              null|            null| 9190.245488233122|      null|112696.19957435192|14.183328543078048|0.8672303328968344|22948.305027790688|24.713073320891283|11.987528317343706|0.4935732136320064|7.822085979598807|10.867161308524661|3.5854628476468844|24.706084260053252|              0.0|14.179782290150628|    null|
|    min| 36 months|           ANY|      A|    car|             5.31|             4.93|        AK|       Charged Off|      Individual|               500|    1 year|               0.0|              -1.0|                 0|                 0|               0.0|                 1|                 0|              0.0|               36 |                  |               0.0|49.90740132438135|              -1.0|      No|
|    max| 60 months|          RENT|      G|wedding|            30.99|          1719.83|        WY|Late (31-120 days)|       Joint App|             40000|       n/a|             1.1E8|             999.0|                58|           2904836|             892.3|               176|                58|            69.49|               60 |                 9|             892.0|49.90740132438135|             999.0|     Yes|
+-------+----------+--------------+-------+-------+-----------------+-----------------+----------+------------------+----------------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+--------+

In [100]:
spark.sql("SELECT addr_state, SUM(loan_amnt) FROM lc_loan_data GROUP BY addr_state").show()

# Can dump this to pandas df and visualize it using matplotlib. 
# Or can we use it directly into matplotlib?

+----------+--------------+
|addr_state|sum(loan_amnt)|
+----------+--------------+
|        SC|     418481900|
|        AZ|     780966125|
|        LA|     382046275|
|        MN|     577447675|
|        NJ|    1316207975|
|        DC|      84707250|
|        OR|     379466875|
|        VA|    1013015875|
|        RI|     142960100|
|        KY|     313557625|
|        WY|      74153325|
|        NH|     166469500|
|        MI|     841646100|
|        NV|     470165300|
|        WI|     431766050|
|        ID|      62088425|
|        CA|    4808480100|
|        CT|     547556950|
|        NE|     110941450|
|        MT|      88170825|
+----------+--------------+
only showing top 20 rows

In [103]:
spark.sql("SELECT addr_state, COUNT(annual_inc) AS count FROM lc_loan_data GROUP BY addr_state").show()

+----------+------+
|addr_state| count|
+----------+------+
|        SC| 28003|
|        AZ| 53777|
|        LA| 25759|
|        MN| 39517|
|        NJ| 83132|
|        DC|  5356|
|        OR| 26789|
|        VA| 62954|
|        RI| 10005|
|        KY| 21887|
|        WY|  4748|
|        NH| 11142|
|        MI| 58770|
|        NV| 32657|
|        WI| 29877|
|        ID|  4308|
|        CA|314533|
|        CT| 35785|
|        NE|  7819|
|        MT|  6299|
+----------+------+
only showing top 20 rows

In [105]:
spark.sql("SELECT addr_state, COUNT(loan_amnt) FROM lc_loan_data WHERE bad_loan='Yes' GROUP BY addr_state").show()

+----------+----------------+
|addr_state|count(loan_amnt)|
+----------+----------------+
|        AZ|            7010|
|        SC|            2934|
|        LA|            3961|
|        MN|            5183|
|        NJ|           11290|
|        DC|             522|
|        OR|            2628|
|        VA|            8379|
|        RI|            1162|
|        KY|            2929|
|        WY|             544|
|        NH|            1064|
|        MI|            7838|
|        NV|            4780|
|        WI|            3639|
|        ID|             372|
|        CA|           42214|
|        CT|            3905|
|        NE|            1005|
|        MT|             699|
+----------+----------------+
only showing top 20 rows

In [107]:
spark.sql("SELECT grade, SUM(loan_amnt) AS tot_loan_amnt FROM lc_loan_data GROUP BY grade").show()

+-----+-------------+
|grade|tot_loan_amnt|
+-----+-------------+
|    F|    799410225|
|    E|   2367318100|
|    B|   9404817775|
|    D|   5097344375|
|    C|   9775551175|
|    A|   6323641900|
|    G|    248032375|
+-----+-------------+

In [109]:
spark.sql("SELECT grade, bad_loan, SUM(loan_amnt) AS tot_loan_amnt FROM lc_loan_data GROUP BY grade, bad_loan").show()

+-----+--------+-------------+
|grade|bad_loan|tot_loan_amnt|
+-----+--------+-------------+
|    G|     Yes|    100145100|
|    B|      No|   8593430200|
|    F|      No|    498421800|
|    E|     Yes|    704175725|
|    C|     Yes|   1430152275|
|    B|     Yes|    811387575|
|    A|     Yes|    224522800|
|    F|     Yes|    300988425|
|    C|      No|   8345398900|
|    A|      No|   6099119100|
|    E|      No|   1663142375|
|    D|     Yes|   1084992775|
|    G|      No|    147887275|
|    D|      No|   4012351600|
+-----+--------+-------------+

In [ ]:
#lc_df = lc_df.withColumn("exposure",when(lc_df.bad_loan=="No",col("revol_bal")).otherwise(-10*col("revol_bal")))
#display(lc_df)

In [ ]:
#display(lc_df.groupBy("bad_loan","grade").agg({"exposure": "sum"}))

In [110]:
lc_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in lc_df.columns]).show()

+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+-----------+--------+
|term|home_ownership|grade|purpose|int_rate|installment|addr_state|loan_status|application_type|loan_amnt|emp_length|annual_inc| dti|delinq_2yrs|revol_bal|revol_util|total_acc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|rev_avg|dti_cleaned|bad_loan|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+-----------+--------+
|   0|             0|    0|      0|       0|          0|         0|          0|               0|        0|         0|         4|1711|         29|        0|      1802|       29|             70276|  2139962|           0|             0|                0|      0|          0|       0|
+----+--------------+-----+-------+--------+-----------+----------+-----------+----------------+---------+----------+----------+----+-----------+---------+----------+---------+------------------+---------+------------+--------------+-----------------+-------+-----------+--------+

In [111]:
spark.sql("SELECT loan_amnt, bad_loan FROM lc_loan_data").show()

+---------+--------+
|loan_amnt|bad_loan|
+---------+--------+
|     2500|      No|
|    30000|      No|
|     5000|      No|
|     4000|      No|
|    30000|      No|
|     5550|      No|
|     2000|      No|
|     6000|      No|
|     5000|      No|
|     6000|      No|
|     5500|      No|
|    28000|      No|
|    11200|      No|
|     6500|      No|
|    22000|      No|
|     3500|      No|
|     7000|      No|
|    25000|      No|
|    16000|      No|
|    13000|      No|
+---------+--------+
only showing top 20 rows

In [113]:
spark.sql("SELECT loan_amnt FROM lc_loan_data WHERE bad_loan = 'Yes'").show()

+---------+
|loan_amnt|
+---------+
|    20975|
|    20000|
|     9100|
|     3525|
|    11000|
|     7000|
|    11500|
|     8000|
|    22000|
|    30000|
|     9500|
|    10000|
|    34000|
|    30000|
|    11200|
|     4850|
|    24000|
|    30000|
|    16000|
|     7400|
+---------+
only showing top 20 rows

In [114]:
def trim(string):
    return string.strip('%')

spark.udf.register("trimperct", trim) # Including as use defined function

In [119]:
#spark.sql("SELECT int_rate, CAST(trimperct(int_rate) AS float) AS int_rate_float FROM lc_loan_data").show() # If it has % but I think we removed it. LEt's check in next line

In [118]:
spark.sql("SELECT int_rate FROM lc_loan_data").show()

+--------+
|int_rate|
+--------+
|   13.56|
|   18.94|
|   17.97|
|   18.94|
|   16.14|
|   15.02|
|   17.97|
|   13.56|
|   17.97|
|   14.47|
|   22.35|
|   11.31|
|    8.19|
|   17.97|
|   12.98|
|   16.14|
|   12.98|
|   16.91|
|   20.89|
|   14.47|
+--------+
only showing top 20 rows

In [121]:
spark.sql("SELECT bad_loan, int_rate FROM Lc_loan_data").show()

+--------+--------+
|bad_loan|int_rate|
+--------+--------+
|      No|   13.56|
|      No|   18.94|
|      No|   17.97|
|      No|   18.94|
|      No|   16.14|
|      No|   15.02|
|      No|   17.97|
|      No|   13.56|
|      No|   17.97|
|      No|   14.47|
|      No|   22.35|
|      No|   11.31|
|      No|    8.19|
|      No|   17.97|
|      No|   12.98|
|      No|   16.14|
|      No|   12.98|
|      No|   16.91|
|      No|   20.89|
|      No|   14.47|
+--------+--------+
only showing top 20 rows

In [123]:
spark.sql("SELECT bad_loan, installment FROM lc_loan_data").show()

+--------+-----------+
|bad_loan|installment|
+--------+-----------+
|      No|      84.92|
|      No|     777.23|
|      No|     180.69|
|      No|     146.51|
|      No|     731.78|
|      No|     192.45|
|      No|      72.28|
|      No|     203.79|
|      No|     180.69|
|      No|     206.44|
|      No|     211.05|
|      No|     613.13|
|      No|     351.95|
|      No|      234.9|
|      No|     500.35|
|      No|      123.3|
|      No|      235.8|
|      No|     620.11|
|      No|     431.87|
|      No|     305.67|
+--------+-----------+
only showing top 20 rows

In [125]:
spark.sql("SELECT home_ownership, bad_loan, loan_amnt FROM lc_loan_data").show()

+--------------+--------+---------+
|home_ownership|bad_loan|loan_amnt|
+--------------+--------+---------+
|          RENT|      No|     2500|
|      MORTGAGE|      No|    30000|
|      MORTGAGE|      No|     5000|
|      MORTGAGE|      No|     4000|
|      MORTGAGE|      No|    30000|
|      MORTGAGE|      No|     5550|
|          RENT|      No|     2000|
|          RENT|      No|     6000|
|      MORTGAGE|      No|     5000|
|           OWN|      No|     6000|
|      MORTGAGE|      No|     5500|
|      MORTGAGE|      No|    28000|
|      MORTGAGE|      No|    11200|
|      MORTGAGE|      No|     6500|
|      MORTGAGE|      No|    22000|
|      MORTGAGE|      No|     3500|
|      MORTGAGE|      No|     7000|
|      MORTGAGE|      No|    25000|
|      MORTGAGE|      No|    16000|
|      MORTGAGE|      No|    13000|
+--------------+--------+---------+
only showing top 20 rows

In [127]:
spark.sql("SELECT grade, purpose, COUNT(*) AS count FROM lc_loan_data GROUP BY grade, purpose").show()

+-----+----------------+------+
|grade|         purpose| count|
+-----+----------------+------+
|    B|          moving|  3402|
|    G|         wedding|    26|
|    D|     credit_card| 48764|
|    F|home_improvement|  2514|
|    F|          moving|   530|
|    D|renewable_energy|   298|
|    D|         wedding|   506|
|    B|         wedding|   554|
|    C|renewable_energy|   419|
|    A|     credit_card|140508|
|    G|         medical|   132|
|    E|renewable_energy|   151|
|    F|           house|   597|
|    A|         medical|  4459|
|    A|         wedding|   449|
|    C|          moving|  4785|
|    E|         wedding|   221|
|    B|     educational|   112|
|    E|         medical|  1919|
|    D|  major_purchase|  6875|
+-----+----------------+------+
only showing top 20 rows

In [128]:
spark.sql("SELECT grade, loan_status, COUNT(loan_status) FROM lc_loan_data GROUP BY grade, loan_status").show()

+-----+--------------------+------------------+
|grade|         loan_status|count(loan_status)|
+-----+--------------------+------------------+
|    E|          Fully Paid|             56206|
|    A|Does not meet the...|                90|
|    E|             Default|                 4|
|    B|   Late (16-30 days)|               824|
|    A|     In Grace Period|               668|
|    C|  Late (31-120 days)|              7640|
|    C|             Default|                 9|
|    F|  Late (31-120 days)|               718|
|    G|Does not meet the...|                72|
|    D|             Default|                 8|
|    C|          Fully Paid|            286666|
|    B|             Default|                 6|
|    E|   Late (16-30 days)|               335|
|    F|          Fully Paid|             17220|
|    E|     In Grace Period|               794|
|    F|   Late (16-30 days)|               114|
|    A|             Current|            204435|
|    G|     In Grace Period|                93|
|    C|Does not meet the...|               148|
|    A|  Late (31-120 days)|              1314|
+-----+--------------------+------------------+
only showing top 20 rows

In [130]:
spark.sql("SELECT bad_loan, count(*) FROM lc_loan_data GROUP BY bad_loan").show()

+--------+--------+
|bad_loan|count(1)|
+--------+--------+
|      No| 1964427|
|     Yes|  296241|
+--------+--------+

In [132]:
spark.sql("SELECT installment, loan_amnt, bad_loan FROM lc_loan_data").show()

+-----------+---------+--------+
|installment|loan_amnt|bad_loan|
+-----------+---------+--------+
|      84.92|     2500|      No|
|     777.23|    30000|      No|
|     180.69|     5000|      No|
|     146.51|     4000|      No|
|     731.78|    30000|      No|
|     192.45|     5550|      No|
|      72.28|     2000|      No|
|     203.79|     6000|      No|
|     180.69|     5000|      No|
|     206.44|     6000|      No|
|     211.05|     5500|      No|
|     613.13|    28000|      No|
|     351.95|    11200|      No|
|      234.9|     6500|      No|
|     500.35|    22000|      No|
|      123.3|     3500|      No|
|      235.8|     7000|      No|
|     620.11|    25000|      No|
|     431.87|    16000|      No|
|     305.67|    13000|      No|
+-----------+---------+--------+
only showing top 20 rows

In [133]:
lc_df.stat.corr('installment', 'loan_amnt')

0.9456267528524241

In [137]:
pd_df=lc_df.toPandas()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35561)
Traceback (most recent call last):
  File "/home/venom/anaconda3/lib/python3.7/site-packages/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/venom/anaconda3/lib/python3.7/site-packages/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:35561)

In [138]:
# Fix above error

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.clf()
sns.distplot(pd_df.loc[pd_df['dti'].notnull() & (pd_df['dti']<50), 'dti'])
plt.xlabel('dti')
plt.ylabel('count')
display()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
plt.clf()
sns.countplot(pd_df.loc[pd_df['total_acc']<120,'total_acc'],order=sorted(pd_df['total_acc'].unique()), saturation=1)
_, _ = plt.xticks(np.arange(0, 120, 10), np.arange(0, 120, 10))
plt.xlabel('total_acc')
plt.ylabel('count')
display()

In [ ]:
##################### Kaggle Kernel